﻿@using HzCasting.WebApp.Models

@model UsuarioClienteViewModel
@{
    ViewBag.Title = Resources.EditarUsuarioCliente;
}

<div class="form-content-block">

    @using (Html.BeginForm("EditarUsuarioCliente", "Usuario", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.ClienteId)

        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.PrimeiroNome, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.PrimeiroNome, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.UltimoNome, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.UltimoNome, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Cpf, new { @class = "control-label" })<span class="text-danger"></span>
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf", @readonly = "readonly", placeholder = "999.999.999-99" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Telefone, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control telefone", placeholder = "(99) 9999-9999" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Celular, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Celular, new { @class = "form-control celular", placeholder = "(99) 99999-9999" })
        </div>

        <div class="form-group col-lg-2">
            <input type="submit" class="btn btn-block btn-primary editarUsuario" value="@Resources.Atualizar" />
            @*<input type="button"  value="@Resources.Voltar" class="btn btn-block btn-primary" />*@
        </div>
    }
</div>

<div class="modal fade alertCPF" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> CPF Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> E-Mail Inválido!</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site/usuario/usuario.js"></script>
}
