﻿@model HzCasting.WebApp.Models.AgenciaViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-content-block no-margin-top">

    <div class="form-group col-md-5">
        @Html.LabelFor(model => model.Nome)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o Nome" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.CPNJ)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.CPNJ, new { htmlAttributes = new { @class = "form-control cnpj", placeholder = "Digite o CPNJ" } })
        @Html.ValidationMessageFor(model => model.CPNJ, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Telefone)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control telefone", placeholder = "(99) 9999-9999" } })
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Celular)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control celular", placeholder = "(99) 99999-9999" } })
        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Email)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.CepNumeroEndereco)
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.CepNumeroEndereco, new { htmlAttributes = new { @class = "form-control cep", maxlength = "9" } })
        @Html.ValidationMessageFor(model => model.CepNumeroEndereco, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.EstadoEndereco, htmlAttributes: new { @class = " " })
        @Html.EditorFor(model => model.EstadoEndereco, new { htmlAttributes = new { @class = "form-control", disabled= "disabled" } })
        @Html.ValidationMessageFor(model => model.EstadoEndereco, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.CidadeEndereco, htmlAttributes: new { @class = " " })
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.CidadeEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.CidadeEndereco, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.LogradouroEndereco, new { @class = " " })
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.LogradouroEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.LogradouroEndereco, "", new { @class = "text-danger" })
    </div>

    
    @*<div class="form-group col-md-2">
            @Html.Label("UFEndereco", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("UFEndereco", ViewBag.Uf as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UFEndereco, "", new { @class = "text-danger" })
        </div>*@


    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.BairroEndereco, htmlAttributes: new { @class = " " })
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.BairroEndereco, new { htmlAttributes = new { @class = "form-control", disabled= "disabled" } })
        @Html.ValidationMessageFor(model => model.BairroEndereco, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.NumeroEndereco, htmlAttributes: new { @class = " " })
        <span class="text-danger">*</span>
        @Html.EditorFor(model => model.NumeroEndereco, new { htmlAttributes = new { @class = "form-control number" } })
        @Html.ValidationMessageFor(model => model.NumeroEndereco, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.ComplementoEndereco, htmlAttributes: new { @class = " " })
        @Html.EditorFor(model => model.ComplementoEndereco, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ComplementoEndereco, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group col-md-4">
        @Html.LabelFor(model => model.ZonaEndereco, htmlAttributes: new { @class = " " })
        @Html.EditorFor(model => model.ZonaEndereco, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ZonaEndereco, "", new { @class = "text-danger" })
    </div>*@

</div>

<div class="modal fade alertCNPJ" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> CNPJ Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> E-Mail Inválido!</p>
            </div>
        </div>
    </div>
</div>