﻿@model HzCasting.WebApp.Models.AgenciaViewModel
@{
    ViewBag.Title = Resources.CadastrarAgencia;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Agencia/_FormAgencia.cshtml")

    @*<br />

    @Html.ValidationMessage("", new { @class = "text-danger" })*@

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="@Resources.Cadastrar" class="btn btn-block btn-primary cadastrarAgencia" />
            <div class="text-danger">
                @Html.ValidationMessage("error")
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/Site/agencia/agencia.js"></script>
}