﻿@model HzCasting.WebApp.Models.AgenciaViewModel
@{
    ViewBag.Title = Resources.EditarAgencia;
}
 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Agencia/_FormAgencia.cshtml")

    <br />

    @Html.ValidationMessage("", new { @class = "text-danger"})
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Resources.VoltarLista, "Listar", null, new { @class = "btn btn-primary pull-left" })
            <input type="submit" value="@Resources.Atualizar" class="btn btn-primary atualizarAgencia" />
            <div class="text-danger">
                @Html.ValidationMessage("error", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/Site/agencia/agencia.js"></script>
}