﻿@model IEnumerable<HzCasting.WebApp.Models.AgenciaViewModel>

@{
    ViewBag.Title = Resources.ListarAgencia;
}
@Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-primary pull-right botaoCadastrar" })

<style>
    .botaoCadastrar {
        margin: -26px 10px 0px 0px;
    }

    .filtro {
        /*padding: 0 0 0 0;*/
        margin: 21px 0px 0px 0px;
    }

    .limpar {
        /*padding: 0 0 0 0;*/
        margin: 21px 0px 0px 0px;
    }
</style>

<div class="form-content-block">
    <form action="/Agencia/Listar">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>@Resources.Nome</label>
                    <input type="text" name="nome" class="form-control titulo" />
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>CNPJ</label>
                    <input type="text" name="cnpj" class="form-control titulo" />
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>@Resources.Email</label>
                    <input type="text" name="email" class="form-control titulo" />
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-1">
                <button class="btn btn-dark btn-block filtro" type="submit">@Resources.Filtrar</button>
            </div>
            <div class="form-group col-xs-12 col-md-1">
                <button class="btn btn-white btn-block limpar">@Resources.Limpar</button>
            </div>
        </div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPNJ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogradouroEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CepNumeroEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CidadeEndereco)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPNJ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogradouroEndereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CepNumeroEndereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoEndereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CidadeEndereco)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action(Resources.Editar, "Agencia", new { id = item.Id})"><i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i></a>
                        <a href="@Url.Action(Resources.Deletar, "Agencia", new { id = item.Id })"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
