﻿@model HzCasting.WebApp.Models.ClienteViewModel

@{
    ViewBag.Title = Resources.CadastrarCliente;
}

@*<h5 class="page-title">Informe os dados solicitados abaixo para cadastrar novo cliente. Os campos com <span class="text-danger">*</span> são obrigatórios. </h5>*@
<h5 class="page-title">
    @Resources.CamposObrigatorios
</h5>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="userId" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-content-block no-margin-bottom">
        <h1 class="block-title">@Resources.Empresa</h1>
    </div>
    <div class="form-content-block no-margin-top">
        <div class="form-group col-xs-12 col-md-3">
            @Html.LabelFor(model => model.CPNJ)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.CPNJ, new { htmlAttributes = new { @class = "form-control cnpj", maxlength = "20", placeholder = "99.999.999/9999-99" } })
            @Html.ValidationMessageFor(model => model.CPNJ, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-xs-12 col-md-4">
            @Html.LabelFor(model => model.RazaoSocial)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-xs-12 col-md-5">
            @Html.LabelFor(model => model.NomeFantasia)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-content-block no-margin-bottom">
        <h1 class="block-title">@Resources.Endereco</h1>
    </div>
    <div class="form-content-block no-margin-top">
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.Endereco.CepNumero)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.CepNumero, new { htmlAttributes = new { @class = "form-control cep" } })
            @Html.ValidationMessageFor(model => model.Endereco.CepNumero, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Endereco.Cidade)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Endereco.Cidade, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.Endereco.Estado)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.Estado, new { htmlAttributes = new { @class = "form-control", placeholder = "SP", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Endereco.Estado, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Endereco.Bairro)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
        </div>



        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.Endereco.Logradouro)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Endereco.Logradouro, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.Endereco.Numero)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control number" } })
            @Html.ValidationMessageFor(model => model.Endereco.Numero, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.Endereco.Complemento)
            @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Endereco.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-xs-6 col-md-2 pull-right">
        <input type="submit" value="@Resources.Cadastrar" class="btn btn-block btn-primary cadastrarCliente" />
    </div>

}


<div class="modal fade alertCNPJ" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> CNPJ Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-md-4 pull-left">
    <a href="/Listar" class="btn btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Resources.Voltar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site/cliente/cliente.js"></script>
}
