﻿@using HzCasting.WebApp.Models
@model ListarUsuariosClienteViewModel
@{
    ViewBag.Title = Resources.ListarUsuarios;
}

@*Cliente: @Model.NomeFantasia*@
<h5 class="page-title">
    @*Veja a baixo a lista de clientes cadastrados no sistema.<br />Aqui você pode cadastrar novos clientes, editá-los e excluí-los quando necessário.*@
    @Resources.ListarClienteCadastrados
    <a class="btn btn-primary pull-right" href="~/Usuario/CadastrarUsuarioCliente?clienteId=@Model.ClienteId">@Resources.Cadastrar</a>
</h5>

<div class="form-content-block">
    <form action="~/Cliente/ListarUsuariosComFiltro">
        <div class="row">

            <input type="hidden" name="clienteId" value="@Model.ClienteId" />

            <div class="form-group col-xs-12 col-md-3">
                <label>CPF</label>
                <input type="text" name="cpf" class="form-control cpf" />
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>@Resources.Email</label>
                <input type="text" name="email" class="form-control" />
            </div>

            <div class="form-group col-xs-12 col-md-5">
                <div class="row">
                    <label class="col-xs-12 col-md-12"> </label>
                    <div class="col-xs-6 col-md-3">
                        <button class="btn btn-dark btn-block" type="submit">@Resources.Filtrar</button>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <button class="btn btn-white btn-block">@Resources.Limpar</button>
                    </div>
                </div>
            </div>



        </div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    CPF
                </th>
                <th>
                    @Resources.Email
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Usuarios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="actions">
                        <a href="javascript:;"><i class="fa fa-pencil-square-o text-danger" onclick="EditarUsuario('@item.UsuarioId')" aria-hidden="true"></i></a>
                        <a href="javascript:;"><i class="fa fa-trash text-danger" onclick="ExcluirUsuario('@item.UsuarioId', @Model.ClienteId)" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function EditarUsuario(usuarioId) {

            window.location = "/Usuario/EditarUsuarioCliente?usuarioId=" + usuarioId;
        }

        function ExcluirUsuario(usuarioId, clienteId) {
            console.log(usuarioId);

            console.log(usuarioId.type);

            var obj = {
                usuarioId: usuarioId
            };

            $.ajax({
                type: "POST",
                url: '/Usuario/Excluir',
                data: JSON.stringify(obj),
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                success: function (response) {
                    alert('Usuário Excluído com sucesso');
                    window.location.href = '/Cliente/ListarUsuarios?clienteId=' + clienteId;
                },
                error: function (error) {
                    console.error('erro!', error);
                }
            });
        }
    </script>
}
