﻿@model IEnumerable<HzCasting.WebApp.Models.ClienteViewModel>

@{
    ViewBag.Title = Resources.ListarCliente;
}


<h5 class="page-title">
    @*Veja a baixo a lista de clientes cadastrados no sistema.<br />Aqui você pode cadastrar novos clientes, editá-los e excluí-los quando necessário.*@
    @Resources.ListarClienteCadastrados
    <a class="btn btn-primary pull-right" href="Cadastrar">@Resources.Cadastrar</a>
</h5>
<div class="clearfix"></div>
<div class="form-content-block">
    <form action="/Cliente/Listar">
        <div class="row">
            <div class="form-group col-xs-12 col-md-3">
                <label>@Resources.RazaoSocial</label>
                <input type="text" name="RazaoSocial" class="form-control" />
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>@Resources.NomeFantasia</label>
                <input type="text" name="NomeFantasia" class="form-control" />
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>CNPJ</label>
                <input type="text" name="CPNJ" class="form-control cnpj" />
            </div>

            <div class="form-group">
                <br />
                <div class="col-xs-6 col-md-1">
                    <button class="btn btn-dark btn-block" type="submit">@Resources.Filtrar</button>
                </div>
                <div class="col-xs-6 col-md-1">
                    <button class="btn btn-white btn-block">@Resources.Limpar</button>
                </div>
            </div>

        </div>
    </form>
</div>


<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RazaoSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeFantasia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPNJ)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RazaoSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPNJ)
                    </td>
                    <td class="actions">
                        <a href="/Cliente/ListarUsuarios?clienteId=@item.ClientId"><i class="fa fa-user text-danger" aria-hidden="true"></i></a>
                        <a href="/Cliente/Editar?clienteId=@item.ClientId"><i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i></a>
                        <a href="/Cliente/Deletar?id=@item.ClientId"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@*@section scripts{
        <script type="text/javascript">
            function Listar(clienteId) {
                console.log('here');
                window.location = "/Cliente/ListarUsuarios?clienteId=" + clienteId;
            }

            function Editar(clienteId) {
                window.location = "/Cliente/Editar?clienteId=" + clienteId;
            }

            function Excluir(clienteId) {
                window.location = "/Cliente/Deletar?id=" + clienteId;
            }
        </script>
    }*@
