﻿@model HzCasting.WebApp.Models.AgendaViewModel

@{
    ViewBag.Title = Resources.CadastrarCasting;
}

<style>
    .adicionar {
        margin: 18px 17px 0px 0px;
        padding: 8px 28px 8px 28px;
    }
</style>

<div class="form-content-block no-margin-bottom">
    <h1 class="block-title">@Resources.DadosCasting</h1>
</div>
<div class="form-content-block no-margin-top">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.CastingId)

        <div class="form-group col-md-4">
            @*<label>@Resources.DataInicio <span class="text-danger">*</span></label>
            <input type="text" name="DataInicio" id="DataInicio" class="form-control data" required="required" placeholder="99/99/9999"  />*@

            @Html.LabelFor(model => model.DataInicio)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control data", placeholder = "99/99/9999" } })
            @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @*<label>@Resources.HoraInicio <span class="text-danger">*</span></label>
            <input type="text" name="HoraInicio" id="HoraInicio" required="required" class="form-control hora"/>*@

            @Html.LabelFor(model => model.HoraInicio)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = "form-control hora" } })
            @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.HoraFim <span class="text-danger">*</span></label>
            <input type="text" name="HoraFim" id="HoraFim" required="required" class="form-control hora" />*@

            @Html.LabelFor(model => model.HoraFim)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.HoraFim, new { htmlAttributes = new { @class = "form-control hora" } })
            @Html.ValidationMessageFor(model => model.HoraFim, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Local <span class="text-danger">*</span></label>         
            <input type="text" name="Local" id="Local" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.Local)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Local, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Local, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.CEP <span class="text-danger"> *</span></label>
            <input type="text" name="Cep" id="Cep" class="form-control" required="required" placeholder="99999-999" />*@

            @Html.LabelFor(model => model.Cep)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control", placeholder = "99999-999" } })
            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Logradouro<span class="text-danger"> *</span></label>
            <input type="text" name="Logradouro" id="Logradouro" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.Logradouro)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Bairro<span class="text-danger"> *</span></label>
            <input type="text" name="Bairro" id="Bairro" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.Bairro)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Estado<span class="text-danger"> *</span></label>
            <input type="text" name="Estado" id="Estado" class="form-control" required="required" />*@
             @*@Html.DropDownList("Uf", ViewBag.Uf as IEnumerable<SelectListItem>, new { @class = "form-control", @required = "required" })*@

            @Html.LabelFor(model => model.Estado)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Cidade <span class="text-danger"> *</span></label>
            <input type="text" name="Cidade" id="Cidade" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.Cidade)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @*<label>@Resources.Numero<span class="text-danger"> *</span></label>
            <input type="text" name="Numero" id="Numero" class="form-control number" required="required" />*@

            @Html.LabelFor(model => model.Numero)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control number" } })
            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-4">
            @*<label>@Resources.Complemento<span class="text-danger"> *</span></label>
            <input type="text" name="Complemento" id="Complemento" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.Complemento)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-4">
            @*<label>@Resources.QuantidadeCandidatos<span class="text-danger"> *</span></label>
            <input type="text" name="QuantidadeCanditados" id="QuantidadeCanditados" class="form-control" required="required" />*@

            @Html.LabelFor(model => model.QuantidadeCandidatos)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.QuantidadeCandidatos, new { htmlAttributes = new { @class = "form-control number" } })
            @Html.ValidationMessageFor(model => model.QuantidadeCandidatos, "", new { @class = "text-danger" })

        </div>

            <button class="btn btn-danger pull-right adicionar" type="submit" id="btnAdicionar">@Resources.Adicionar</button>

    }

</div>

<div>
    @Html.ActionLink(Resources.Voltar, "Listar", "Casting")
</div>


@section Scripts {
    <script src="~/Scripts/Site/agenda/agenda.js"></script>
}
