﻿@model IEnumerable<HzCasting.WebApp.Models.InviteViewModel>

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnderecoLogradouro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnderecoNumero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnderecoBairro)
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnderecoLogradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnderecoNumero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnderecoBairro)
                </td>
            </tr>
            }
        </table>
    </div>
</div>
@if (Model.Any(x => x.StatusTrackInvite == 1))
{
    <div class="container-content-block">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayName("Data")
                    </th>
                    <th>
                        @Html.DisplayName("Hora Inicio")
                    </th>
                    <th>
                        @Html.DisplayName("Hora Fim")
                    </th>
                </tr>
                @foreach (var invites in Model)
                {
                    foreach (var item in invites.Agendas)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraFim)
                    </td>
                    <td class="actions">
                        <a href="#" onclick="AceitarConvite(@invites.Id, @item.AgendaCastingId);"><i class="fa fa-check text-success" aria-hidden="true"></i></a>                        
                    </td>
                </tr>
                    }
                }
            </table>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        function AceitarConvite(inviteId, agendaCastingId)
        {       

            $.ajax({
                url: '@Url.Action("Aceitar", "Invite")',
                type: "POST",//type of posting the data
                data: { inviteId: inviteId, agendaCastingId: agendaCastingId },
                success: function (data) {
                    //what to do in success
                    location.href = '@Url.Action("Pendentes", "Invite")';                    
                },
                error: function (xhr, ajaxOptions, thrownError) {                    
                    //what to do in error
                },
                timeout: 15000//timeout of the ajax call
            });

        }      
    </script>

}


