﻿@model IEnumerable<HzCasting.WebApp.Models.InviteViewModel>

@{
    ViewBag.Title = Resources.Rejeitados;
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeModelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Validade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEnvio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRetorno)
                </th>
                <th>
                    @Html.DisplayName(@Resources.Acoes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeModelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Validade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEnvio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRetorno)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action("Details", "Invite", new { id = item.Id })"><i class="fa fa-search-plus text-danger" aria-hidden="true"></i></a>
                        <a href="#" onclick="RecusarConvite(@item.Id);"><i class="fa fa-close text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
