﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <script src="https://use.fontawesome.com/53052d2b92.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div>
        <!--Page Header-->
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    @*<div class="navbar-header">
                            <a href="#menu-toggle" class="menu-toggle-btn" id="menu-toggle">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                        </div>*@

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">
                                <p class="hidden-xs" onclick="redirect()">Login</p>
                            </a>
                        </li>
                    </ul>
                    <h5 class="header-title hidden-xs">
                        <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                    </h5>
                </div>
            </nav>
        </header>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h5 class="header-title hidden-lg">
                    <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                </h5>
                <div class="row">
                    @RenderBody()
                </div>
                <footer>
                    @* <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Site/common/util.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function redirect() {
            window.location = '/account/login?isbackoffice=false'
        }
    </script>
</body>
</html>
