﻿@model HzCasting.WebApp.Models.UsuarioBase
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Email, new { @class = "" })
    <span class="text-danger">*</span>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Cpf, new { @class = "" })
    <span class="text-danger">*</span>
    @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf" })
    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Password, new { @class = "" })
    <span class="text-danger">*</span>
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
    <span class="text-danger">*</span>
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
</div>
@*<div class="form-group">
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="Cadastrar" class="btn btn-default" />
                 </div>
             </div>*
    </script>*@

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/modelo/cadastrar.js"></script>
}