﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <script src="https://use.fontawesome.com/53052d2b92.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background-image: url('../Images/bg_login.jpg'); background-size: 100% 100%; background-attachment: fixed;">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Site/common/util.js"></script>
    <script src="~/Scripts/Site/iterative.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/CustomValidacoes.js"></script>
    <script>
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true, placeholder: "R$ 9.999,99" });
            $('.cpf').mask('000.000.000-00', { reverse: true, placeholder: "999.999.999-99" });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true, placeholder: "99.999.999/9999-99" });
            $('.cep').mask('00000-000', { placeholder: "99999-999" });
            $('.number').mask('000000000000000000000000000', { reverse: true });
            $('.telefone').mask("(00) 0000-0000");
            $('.celular').mask("(00) 00000-0000");
            $('.hora').mask("99:99", { placeholder: "12:00" });
            $('.data').mask("99/99/9999", placeholder = "99/99/9999");
        });
    </script>
 
</body>
</html>
