﻿<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")   
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <script src="https://use.fontawesome.com/53052d2b92.js"></script>


</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->       
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">                     
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="~/Images/logo_hz_sistema.svg" />                        
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Inicio</a>
                    <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink(Resources.Perfil, "Perfil", "Modelo")</li>
                        <li>@Html.ActionLink(Resources.Album, "Album", "Modelo")</li>
                        <li>@Html.ActionLink(Resources.Notificacao, "Notificacao", "Modelo")</li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Convites</a>
                    <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink(Resources.Pendentes, "Pendentes", "Invite")</li>
                        <li>@Html.ActionLink(Resources.Aceitos, "Aceitos", "Invite")</li>
                        <li>@Html.ActionLink(Resources.Rejeitados, "Rejeitados", "Invite")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Agenda</a>
                    <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink(Resources.Casting, "CastingModelo", "Casting")</li>
                        <li>@Html.ActionLink(Resources.Eventos, "EventosModelo", "Evento")</li> 
                    </ul>
                </li>    
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Idioma</a>
                    <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink(Resources.Portugues, "SetCulture", new { culture = "pt-BR", returnUrl = this.Request.RawUrl }, null)</li>
                        <li>@Html.ActionLink(Resources.Ingles, "SetCulture", new { culture = "en", returnUrl = this.Request.RawUrl }, null)</li>
                    </ul>                                        
                </li>                                            
            </ul>                     
        </div>
        <!-- /#sidebar-wrapper -->
        <!--Page Header-->
       <header class="header">
           <nav class="navbar navbar-default">
               <div class="container-fluid">
                   <!-- Brand and toggle get grouped for better mobile display -->
                   <div class="navbar-header">
                       <a href="#menu-toggle" class="menu-toggle-btn" id="menu-toggle">
                           <i class="fa fa-bars" aria-hidden="true"></i>
                       </a>                       
                   </div>

                   <ul class="nav navbar-nav navbar-right pull-right">
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                               <span class="hidden-xs">Joana Lewiskin </span>
                               <i class="fa fa-chevron-down" aria-hidden="true"></i>
                           </a>
                           <ul class="dropdown-menu">
                               <li><a href="#">Action</a></li>
                               <li><a href="#">Another action</a></li>
                               <li><a href="#">Something else here</a></li>
                               <li role="separator" class="divider"></li>
                               <li><a href="#">Separated link</a></li>
                           </ul>
                       </li>
                   </ul>
                   <h5 class="header-title hidden-xs">
                       <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                   </h5>
               </div>
           </nav>
       </header>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h5 class="header-title hidden-lg">
                    <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                </h5>
                <div class="row">
                    @RenderBody()
                </div>
                <footer>
                    @* <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    <script src="~/Scripts/Site/common/util.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
