﻿<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="https://use.fontawesome.com/53052d2b92.js"></script>

</head>

@{
    var userId = HttpContext.Current.User.Identity.GetUserId();
    bool agencia;
    bool cliente;
    bool backOffice;
    bool modelo;
    bool erroPerfis = false;
    try
    {
        agencia = Roles.IsUserInRole("Agencia");
        cliente = Roles.IsUserInRole("Cliente");
        backOffice = Roles.IsUserInRole("Admin");
        modelo = Roles.IsUserInRole("Modelo");
    }
    catch
    {
        erroPerfis = true;
        cliente = false;
        modelo = false;
        agencia = false;
        backOffice = true;
    }
}
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="~/Images/logo_hz_sistema.svg" />
                        @*<!-- @Html.ActionLink("HZCasting", "Listar", "Evento", new { area = "" }, new { @class = "navbar-brand" })-->*@
                    </a>
                </li>

                @if (backOffice)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/Evento/Listar">
                            <i><img src="~/Images/ico_evento_menu.svg" /></i>@Resources.Eventos
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/Cliente/Listar"><i><img src="~/Images/ico_cliente_menu.svg" /></i>@Resources.Cliente</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/BackOffice/ListarUsuarios"><i><img src="~/Images/ico_cliente_menu.svg" /></i>BackOffice</a>
                    </li>
                }

                @if (backOffice)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/Modelo/Listar"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Modelo</a>
                        @*<ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Html.ActionLink(Resources.CadastrarModelo, "Cadastrar", "Modelo")</li>
                                <li>@Html.ActionLink(Resources.ListarModelo, "Listar", "Modelo")</li>
                                <li>@Html.ActionLink(Resources.FotosModelo, "Index", "Modelo")</li>
                            </ul>*@
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/Agencia/Listar"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Agencia</a>
                        <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink(Resources.CadastrarAgencia, "Cadastrar", "Agencia")</li>
                            <li>@Html.ActionLink(Resources.ListarAgencia, "Listar", "Agencia")</li>
                        </ul>
                    </li>
                }

                @if (modelo)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Modelo</a>
                        <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink(Resources.Perfil, "Perfil", "Modelo")</li>
                            <li>@Html.ActionLink(Resources.Notificacao, "Notificacao", "Modelo")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Convites</a>
                        <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink(Resources.Pendentes, "Pendentes", "Invite")</li>
                            <li>@Html.ActionLink(Resources.Aceitos, "Aceitos", "Invite")</li>
                            <li>@Html.ActionLink(Resources.Rejeitados, "Rejeitados", "Invite")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Agenda</a>
                        <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink(Resources.Casting, "CastingModelo", "Casting")</li>
                            <li>@Html.ActionLink(Resources.Eventos, "EventosModelo", "Evento")</li>
                        </ul>
                    </li>
                    @*<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Idioma</a>
                            <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Html.ActionLink(Resources.Portugues, "SetCulture", new { culture = "pt-BR", returnUrl = this.Request.RawUrl }, null)</li>
                                <li>@Html.ActionLink(Resources.Ingles, "SetCulture", new { culture = "en", returnUrl = this.Request.RawUrl }, null)</li>
                            </ul>
                        </li>*@
                }

                @if (cliente || backOffice)
                {
                    <li class="dropdown">
                        @if (cliente)
                        {
                            <a class="dropdown-toggle" href="/Casting/ListarPorCliente"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Casting</a>
                        }
                        else
                        {
                            <a class="dropdown-toggle" href="/Casting/Listar"><i><img src="~/Images/ico_modelo_menu.svg" /></i>@Resources.Casting</a>


                        }
                        @if (cliente)
                        {
                            //Meus Castings
                        }

                    </li>
                }


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><img src="~/Images/ico_usuario_menu.svg" /></i>@Resources.Usuario</a>
                    <ul class="dropdown-custom dropdown-menu" role="menu" aria-labelledby="dLabel">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!--Page Header-->
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a href="#menu-toggle" class="menu-toggle-btn" id="menu-toggle">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </div>
                    @{

                        var nome = HzCasting.WebApp.Helpers.ResgateCookie.Nome;
                        var email = HzCasting.WebApp.Helpers.ResgateCookie.Email;
                        var sexo = HzCasting.WebApp.Helpers.ResgateCookie.Sexo;
                        String informativo = "";

                        switch (sexo)
                        {
                            case "Masculino":
                                informativo = ", seja bem-vindo";
                                break;
                            case "Feminino":
                                informativo = ", seja bem-vinda";
                                break;
                            default:
                                informativo = ", seja bem-vindo(a)";
                                break;
                        }

                        <ul class="nav navbar-nav navbar-right pull-right menu-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="hidden-xs">@String.Concat(" " + nome, informativo)</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="#">Perfil</a></li>*@
                                    <li>@Html.ActionLink(Resources.Portugues, "SetCulture", new { culture = "pt-BR", returnUrl = this.Request.RawUrl }, null)</li>
                                    <li>@Html.ActionLink(Resources.Ingles, "SetCulture", new { culture = "en", returnUrl = this.Request.RawUrl }, null)</li>
                                    @*<li><a href="#"></i>Logout</a></li>*@
                                    <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    <h5 class="header-title hidden-xs">
                        <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                    </h5>
                </div>
            </nav>
        </header>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h5 class="header-title hidden">
                    <img src="~/Images/ico_evento_top.svg" /> @ViewBag.Title
                </h5>
                <div class="row">
                    @if (erroPerfis)
                    {
                        <p class="text-danger"><strong>Não foi possivel carregar os perfis, voce está usando o perfil BACKOFFICE</strong> </p>
                    }
                    @RenderBody()
                </div>
                <footer>
                   
                    @* <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    -
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Site/common/util.js"></script>
    <script src="~/Scripts/Site/iterative.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true, placeholder: "R$ 9.999,99" });
            $('.cpf').mask('000.000.000-00', { reverse: true, placeholder: "999.999.999-99" });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true, placeholder: "99.999.999/9999-99" });
            $('.cep').mask('00000-000', { placeholder: "99999-999" });
            $('.number').mask('000000000000000000000000000', { reverse: true });
            $('.telefone').mask("(00) 0000-0000");
            $('.celular').mask("(00) 00000-0000");
            $('.hora').mask("99:99", { placeholder: "12:00" });
            $('.data').mask("99/99/9999", placeholder = "99/99/9999");
        });
    </script>

</body>
</html>
