﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <script src="https://use.fontawesome.com/53052d2b92.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background-image: url('../Images/bg_login.jpg'); background-size: 100% 100%; background-attachment: fixed;">
        <!--Page Header-->
    <header class="login-header">
        <a href="#">
            <p class="hidden-xs" onclick="redirect()">Back-Office</p>
        </a>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Site/common/util.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function redirect() {
            window.location = '/account/login?isbackoffice=false'
        }
    </script>
</body>
</html>
