﻿@*@model IEnumerable< HzCasting.WebApp.Models.BookingViewModel >

@{
    ViewBag.Title = "Selecionar Modelos para o Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fotoURL;
    var propHTML = new Dictionary<string, object>();
    propHTML.Add("class", "btn btn-primary pull-right");
}
    
    <table class="table table-hover">
    @foreach (var item in Model)
    {
        if (item.Modelo.FotosExistentes != null && item.Modelo.FotosExistentes.Count > 0)
        {
            fotoURL = item.Modelo.FotosExistentes[0].ImageURL;
        }
        else
        {
            fotoURL = Url.Content("~/Images/ft_usuario_padrao.jpg");
        }

        <tr id="trModelo_@item.Modelo.ModeloId" style="@(item.flagSelecionado ? "background-color:#7FFFD4;" : "")" >
            <td style="width:10%;">
                <img src="@fotoURL" alt="" />
            </td>
            <td style="width:90%;">
                <table>
                    <tr>
                        <td style="width:20%;">@Resources.Nome:</td>
                        <td style="width:80%;">@item.Modelo.PrimeiroNomeDadosPessoais @item.Modelo.UltimoNomeDadosPessoais</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">@Resources.SelecionarPerfil:</td>
                        <td style="width:80%;">
                            <input type="checkbox" id="PerfilSelecionado_@item.Modelo.ModeloId" name="PerfilSelecionado_@item.Modelo.ModeloId" @(item.flagSelecionado ? "checked=\"checked\"" : "") onclick="DestacaRegistro(@item.Modelo.ModeloId, @item.IdPerfilCasting);" name="PerfilSelecionado_@item.Modelo.ModeloId" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
    </table>    
    <a class="btn btn-primary pull-right" href="#" onclick="SalvarSelecaoBooking(); return false;">Salvar</a>

    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        var arrModelos = [];
        @{
            string script = string.Empty;

            foreach (var item in Model)
            {
                script += string.Format("arrModelos.push({{ ModeloID: {0}, PerfilCastingID: {1},FlagSelecionado: {2} }});\n\r",
                            item.Modelo.ModeloId, item.IdPerfilCasting, item.flagSelecionado.ToString().ToLower());
            }
        }
        @script

        function DestacaRegistro(idRegistro, idPerfil)
        {
            var flagPerfilSelecionado = $('#PerfilSelecionado_' + idRegistro).is(':checked');

            if (flagPerfilSelecionado)
                $('#trModelo_' + idRegistro).css("background-color", "#7FFFD4");
            else
                $('#trModelo_' + idRegistro).css("background-color", "none");

            for (var i = 0; i < arrModelos.length; i++)
            {
                if (arrModelos[i].PerfilCastingID == idPerfil && arrModelos[i].ModeloID == idRegistro)
                    arrModelos[i].FlagSelecionado = flagPerfilSelecionado;
            }
        }

        function SalvarSelecaoBooking()
        {
            var data = "#" + JSON.stringify(arrModelos);
            $.ajax({
                type: "POST",
                async: false,
                url: "@Url.Content("~/Booking/SalvarSelecaoBooking")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "strModelos": data }),
                success: function (data) {
                    if (data.result_code == 'OK')
                        document.location = '@Url.Content("~/Perfil/Listar")';
                    else
                        alert(data.mensagem);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        }
   </script>*@    
