﻿@model IEnumerable<HzCasting.WebApp.Models.BookingViewModel>

@{
    ViewBag.Title = "Booking";
    var idCasting = ViewBag.CastingId ?? 0; 
}
@*<button class="btn btn-primary" id="modelosCasting" data-item="@(idCasting)">Modelos Selecionadas para o Booking</button>*@
<button class="btn btn-primary" id="btnEnviarInvites">@Resources.EnviarInvites</button>
<br />
<br />
@Html.ValidationMessage("", new { @class = "text-danger" })
<table id="tblModelos" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><input type="checkbox"  id="selecionarTodos"></th>
            <th>
                @Html.DisplayName(Resources.Foto)
            </th>
            <th>
                @Html.DisplayName(Resources.Modelo)
            </th>
            <th>
                @Html.DisplayName(Resources.Perfil)
            </th>
            <th>
                @Html.DisplayName(Resources.Selecao)
            </th>
            <th>
                @Html.DisplayName(Resources.Status)
            </th>
            
            <th>
                @Html.DisplayName(Resources.DataEnvio)
            </th>
            <th>
                @Html.DisplayName(Resources.RetornoInvite)
            </th>
            <th></th>
        </tr>
    </thead>
     
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    <img src="@item.ImagemModelo" alt="" width="400" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeModelo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NomePerfil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TípoSelecao)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.StatusInvite)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.DataEnvioInvite)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.DataRetornoInvite)
                </td>
                <td>
                    <button class="btn btn-primary btnVisualizarPerfil" data-item="@item.IdModelo">Visualizar Perfil</button>
                    <button class="btn btn-primary btnEnviarInvite" disabled="@(item.StatusInvite != null )" data-item="@item.IdModelo">Enviar Invite</button> 
                    <input type="hidden" id="idBooking" value="@item.IdBooking" />
                    <input type="hidden" id="IdPerfil"  value="@item.IdPerfil" />  
                    <input type="hidden" id="IdCasting" value="@item.IdCasting" />                                       
                </td>
            </tr>
        }
         
    </tbody>
</table> 
<div class="modal fade bd-example-modal-lg modal-composite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="detalhesModeloComposite">
        </div>
    </div>
</div>
@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
}
@section scripts {
    <script src="~/Scripts/Site/modelosCompativeis/modelosCompativeis.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <script src="~/Scripts/Site/booking/booking.js"></script>

}