﻿@model IEnumerable<HzCasting.WebApp.Models.ModelosSelecionadasViewModel>

@{
    ViewBag.Title = "ModeloSelecionadasCasting";
}
<button class="btn btn-primary" id="btnEnviarInvites">Enviar Invites</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerfilModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagemSrc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NomeModelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerfilModelo)
                </td> 
                <td>
                    @Html.ActionLink("Enviar Invite", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Remover da lista", "", new { /* id=item.PrimaryKey */ }, new { @class= "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>

</table>
