﻿@model IEnumerable<HzCasting.WebApp.Models.BookingViewModel>

@{
    ViewBag.Title = Resources.ModelosCompativeisPerfil;
}
@section styles {

    <style>
        img.img-thumbnail {
            width: 15%;
        }
    </style>

}

<h5 class="page-title">
    <button class="btn btn-primary pull-right" id="modelosCasting" data-item="@(Model.FirstOrDefault()?.IdCasting)">@Resources.ModelosSelecionadasBooking</button>
</h5>

<div class="clearfix"></div>
<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName(Resources.Foto)
                </th>
                <th>
                    @Html.DisplayName(Resources.NomeModelo)
                </th>
                <th>
                    @Html.DisplayName(Resources.Perfil)
                </th>
                
                <th>
                    @Html.DisplayName(Resources.JaInclusaBooking)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImagemModelo" class="img-thumbnail" alt="imagem da modelo" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeModelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePerfil)
                    </td>
                   
                    <td>
                        @(item.Selecionada ? "Sim" : "Não")
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Selecionar, "AdicionarModeloAoBooking", "Booking", new { castingId = item.IdCasting, idModelo = item.IdModelo, perfilId = item.IdPerfil }, new { @class = "btn btn-primary" })
                        @*<button class="btn btn-primary" data-toggle="modal" data-target=".modal-composite" onclick="carregarDetalhesModelo(@item.IdModelo)">Visualizar Perfil</button>*@
                        <button class="btn btn-primary btnVisualizarPerfil" data-item="@item.IdModelo">@Resources.VisualizarPerfil</button>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>



<div class="modal fade bd-example-modal-lg modal-composite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="detalhesModeloComposite">
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg modal-modelos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelosSelecionadas">

        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Site/modelosCompativeis/modelosCompativeis.js"></script>
}