﻿@model HzCasting.WebApp.Models.EventoViewModel

@{
    var inserir = ViewBag.Id == null ? Resources.CadastrarEvento : Resources.EditarEvento;

    var action = ViewBag.Id == null ? Resources.Cadastrar : Resources.Editar;
    //var title = action == "Cadastrar" ? "cadastrar um novo evento" : "Atualizar Evento";
    var title = action == "Cadastrar" ? Resources.Cadastrar : Resources.Atualizar;
    ViewBag.Title = inserir;
}

<style>
    .inserir {
        padding: 11px 0 9px 0;
        text-transform: uppercase;
    }


    input[type=file] {
        float: left;
        display: block;
    }

    .hide {
        display: none;
        float: left;
    }
</style>

@*<h5 class="page-title">Informe os dados solicitados abaixo para @title. Os campos com <span class="text-danger">*</span> são obrigatórios. </h5>*@
<h5 class="page-title">
    @Resources.CamposObrigatorios
</h5>


@using (Html.BeginForm(action, "Evento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EventoId, new { @required = "false" })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="idEvento" value="@ViewBag.Id" />

    <div class="form-content-block no-margin-bottom">
        <h1 class="block-title">@Resources.FotosDadosEvento</h1>
    </div>

    <div class="form-content-block no-margin-top">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="fotoEvento">@Resources.UploadFotos</label>
                <span class="text-danger">*</span>
                <label for="fotoEvento" class="upload-custom">
                    <label class="center-content-upload">
                        <input type="file" name="fotoEvento" id="fotoEvento" required="required" title="Insira a foto do evento" />
                        @*<input type=file>*@
                        <img />
                        <input type=button class=hide value="Adicionar outro">
                        <label for="fotoEvento" class="content-upload">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                            <span>@Resources.CliqueParaAdicionarFoto</span>
                        </label>
                    </label>
                </label>
                @Html.ValidationMessageFor(model => model.FotoEvento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @*<input type=file>
                <img />
                <input type=button class=hide value="Adicionar outro">*@
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo)
                <span class="text-danger">*</span>
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.DataInicio)
                <span class="text-danger">*</span>
                <div class="input-group">
                    <input type="text" name="DataInicio" id="DataInicio" class="form-control dataEvento data" placeholder="99/99/9999" required="required" />
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    @*@Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control data", @type = "text", placeholder = "99/99/9999" } })
                        @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.DataFim)
                <span class="text-danger">*</span>
                <div class="input-group">
                    <input type="text" name="DataFim" id="DataFim" class="form-control dataEvento data" placeholder="99/99/9999" required="required" />
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    @*@Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control data", @type = "text", placeholder = "99/99/9999" } })
                        @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = " " })
                <span class="text-danger">*</span>

                <div class='input-group date' id='dataInicial'>
                    @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = "form-control hora" } })
                    @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.HoraFim, htmlAttributes: new { @class = " " })
                <span class="text-danger">*</span>

                <div class='input-group date' id='dataFinal'>
                    @Html.EditorFor(model => model.HoraFim, new { htmlAttributes = new { @class = "form-control hora" } })
                    @Html.ValidationMessageFor(model => model.HoraFim, "", new { @class = "text-danger" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="form-content-block no-margin-bottom">
        <h1 class="block-title">@Resources.EnderecoEvento</h1>
    </div>
    <div class="form-content-block no-margin-top">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Local)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.Local, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Local, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.CepNumeroEndereco)
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.CepNumeroEndereco, new { htmlAttributes = new { @class = "form-control cep", maxlength = "9", placeholder = "00000-000" } })
            @Html.ValidationMessageFor(model => model.CepNumeroEndereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.EstadoEndereco, htmlAttributes: new { @class = " " })
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.EstadoEndereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.EstadoEndereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.CidadeEndereco, htmlAttributes: new { @class = " " })
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.CidadeEndereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.CidadeEndereco, "", new { @class = "text-danger" })
        </div>
        @*<div class="form-group col-md-2">
                @Html.Label("UFEndereco", htmlAttributes: new { @class = "" })
                @Html.DropDownList("UFEndereco", ViewBag.Uf as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UFEndereco, "", new { @class = "text-danger" })
            </div>*@

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BairroEndereco, htmlAttributes: new { @class = " " })
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.BairroEndereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.BairroEndereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.NumeroEndereco, htmlAttributes: new { @class = " " })
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.NumeroEndereco, new { htmlAttributes = new { @class = "form-control number" } })
            @Html.ValidationMessageFor(model => model.NumeroEndereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.LogradouroEndereco, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.EditorFor(model => model.LogradouroEndereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.LogradouroEndereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ComplementoEndereco, htmlAttributes: new { @class = " " })
            @Html.EditorFor(model => model.ComplementoEndereco, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ComplementoEndereco, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-content-block no-margin-bottom">
        <h1 class="block-title">@Resources.Observacao</h1>
    </div>
    <div class="form-content-block no-margin-top">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Obs)
            @Html.TextAreaFor(model => model.Obs, 10, 20, new { @class = "form-control", @type = "textarea" })
            @*@Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="@title" class="btn btn-block btn-primary pull-left inserir" />
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Listar", "Evento")" class="btn btn-block btn-default ">@Resources.Cancelar</a>
        </div>
    </div>

    <div>
        <div class="text-danger">
            @Html.ValidationMessage("error", "", new { @class = "text-danger" })
        </div>
    </div>
}


<div class="modal fade alertDataInicio" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Preencha o campo Data Inicial </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertDataFim" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> A Data Final deve ser maior ou igual a Data Inicial </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertDataAtual" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> A Data Atual é maior que a Data Inicial do Evento </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertHorario" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Horário Inicial deve ser menor que Horário Final </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertHorarioMenor" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> O Horário deve conter 4 digitos </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site/evento/evento.js"></script>
}
