﻿@model HzCasting.WebApp.Models.EventoViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
            </tr>            
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Local)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataInicio)
                </td>
            </tr>            
        </table>
    </div>
</div>

