﻿@model IEnumerable<HzCasting.WebApp.Models.EventoViewModel>

@{
    ViewBag.Title = Resources.EventosModelo;
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Obs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Realizacao)
                </th>
                <th>
                    @Html.DisplayName(@Resources.Acoes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Obs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Realizacao)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action("Details", "Evento", new { id = item.EventoId })"><i class="fa fa-search-plus text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

