﻿@model IEnumerable<HzCasting.WebApp.Models.EventoViewModel>

@{

    ViewBag.Title = Resources.ListarEvento;
}

<style>
    .filtro {
        /*padding: 0 0 0 0;*/
        margin: 21px 0px 0px 0px;
    }

    .limpar {
        /*padding: 0 0 0 0;*/
        margin: 21px 0px 0px 0px;
    }
</style>

<h5 class="page-title">
    @Resources.ListarEventosCadastrados
    <a class="btn btn-primary pull-right" href="Cadastrar">@Resources.Cadastrar</a>
</h5>
<div class="clearfix"></div>
<div class="form-content-block">
    <form action="/Evento/Listar">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label>@Resources.Titulo</label>
                    <input type="text" name="titulo" class="form-control titulo" />
                </div>
            </div>

            <div class="col-xs-2 col-md-2">
                <div class="form-group">
                    <label for="DataInicio">@Resources.DataInicio</label>
                    <div class="input-group">
                        <input type="text" id="DataInicio" name="dataInicio" class="form-control dataInicial data" placeholder="99/99/9999" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 col-md-2">
                <div class="form-group">
                    <label for="DataFim">@Resources.DataFim</label>
                    <div class="input-group">
                        <input type="text" id="DataFim" name="dataFim" class="form-control dataFinal data" placeholder="99/99/9999" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <p>@Resources.Realizao</p>
                <div class="radio-group">

                    <fieldset class="radio">
                        <input type="radio" name="realizacao" id="passado" value="Passado" />
                        <label for="passado">@Resources.Passado</label>
                    </fieldset>

                    <fieldset class="radio">
                        <input type="radio" name="realizacao" id="futuro" value="Futuro" />
                        <label for="futuro">@Resources.Futuro</label>
                    </fieldset>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-1">
                <button class="btn btn-dark btn-block filtro" type="submit">@Resources.Filtrar</button>
            </div>
            <div class="form-group col-xs-12 col-md-1">
                <button class="btn btn-white btn-block limpar">@Resources.Limpar</button>
            </div>
        </div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayName(Resources.DataInicio)
                </th>

                <th>
                    @Html.DisplayName(Resources.HoraInicio)
                </th>
                <th>
                    @Html.DisplayName(Resources.Realizao)
                </th>

                <th>
                    @Html.DisplayName(Resources.Acoes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Realizacao)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action("Editar", "Evento", new { id = item.EventoId })"><i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i></a>
                        <a href="@Url.Action("Deletar", "Evento", new { id = item.EventoId })"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>

@*@section Scripts {
    <script src="~/Scripts/Site/evento/evento-filtro.js"></script>
}*@