﻿@model HzCasting.WebApp.Models.CastingViewModel
 
<div class="form-group col-md-4">
    <label class="typelabel">@Resources.NomeEvento</label>
    <input type="text" name="TituloEvento" value="" id="NomeEvento" class="typeahead" placeholder="Digite o nome do evento" required="required" />
    <input type="hidden" value="" name="IdEvento" />
</div>

<div class="form-group col-md-4">
    <label class="typelabel">@Resources.NomeCliente</label>
    <input type="text" value="" id="NomeCliente" class="typeahead" name="NomeCliente" placeholder="Digite o nome do cliente" required="required" />
    <input type="hidden" value="" name="IdCliente" />
</div>

<div class="form-group col-md-4">
    <label class="typelabel">@Resources.NomeAgencia</label>
    <input type="text" name="NomeAgencia" value="" id="NomeAgencia" class="typeahead" placeholder="Digite o nome da Agencia" required="required" />
    <input type="hidden" value="" name="IdAgencia" />
</div>

<div class="clearfix"></div>

@if(Model?.ImagemSrc != null)
{
    <img src="@Model.ImagemSrc" alt="imagem evento" width="200"/>
}
<div class="form-group col-md-12">
    <label for="fotoEvento">@Resources.UploadFotos</label>
    <label for="fotoEvento" class="upload-custom">
        <label class="center-content-upload">
            <input type="file" name="Imagem" id="ImagemEvento" />
            <label for="ImagemEvento" class="content-upload">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <span>@Resources.CliqueParaAdicionarFoto</span>
            </label>
        </label>
    </label>
</div>