﻿@model IEnumerable<HzCasting.WebApp.Models.CastingViewModel>

@{
    ViewBag.Title = Resources.AgendaPorCasting;
}


@foreach (var casting in Model)
{

    <h5 class="page-title">
        @*@Resources.ListarCastingCadastrados*@
        @Html.ActionLink(Resources.AdicionarAgendaCasting, "Cadastrar", "Agenda", new { idCasting = casting.Id }, new { @class = "btn btn-primary pull-right" })
    </h5>


    <div class="container-content-block">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Agendas.FirstOrDefault().DataInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Agendas.FirstOrDefault().HoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Agendas.FirstOrDefault().HoraFim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Agendas.FirstOrDefault().QuantidadeCandidatos)
                    </th>
                    @*<th>
                            @Html.DisplayName(@Resources.Acoes)
                        </th>*@
                </tr>
                @foreach (var agenda in casting.Agendas)
                {

                    <tr>
                        <td>
                            @agenda.DataInicio.Value.ToShortDateString()
                        </td>
                        <td>
                            @agenda.HoraInicio.Value.ToShortTimeString()
                        </td>
                        <td>
                            @agenda.HoraFim.Value.ToShortTimeString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => agenda.QuantidadeCandidatos)
                        </td>
                        @*<td class="actions">
                                <a href="@Url.Action("Cadastrar", "Agenda", new { id = item.CastingId })"><i class="fa fa-plus text-danger" aria-hidden="true"></i></a>
                            </td>*@
                    </tr>
                }
            </table>
        </div>
    </div>

}


