﻿@model HzCasting.WebApp.Models.CastingViewModel

@{
    ViewBag.Title = Resources.Cadastrar;
}

@*<h5 class="page-title">Informe os dados solicitados abaixo para cadastrar um novo evento. Os campos com <span class="text-danger">*</span> são obrigatórios.</h5>*@
<h5 class="page-title">@Resources.CamposObrigatorios</h5>

@section styles{
    <link href="~/Content/typehead.css" rel="stylesheet" />
}


<div class="form-content-block no-margin-bottom">
    <h1 class="block-title">@Resources.DadosCasting</h1>
</div>
<div class="form-content-block no-margin-top">

    @using (Html.BeginForm("CadastrarPorCliente", "Casting", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form-casting" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group ">
            <label>@Resources.NomeEvento</label>
            <input type="text" value="" id="NomeEvento" class="typeahead form-control" placeholder="Digite o nome do evento" required="required" />

            <input type="hidden" value="" name="IdEvento" />
        </div>

        <div class="form-group">
            <label for="fotoEvento">@Resources.UploadFotos</label>
            <label for="fotoEvento" class="upload-custom">
                <label class="center-content-upload">
                    <input type="file" name="Imagem" id="ImagemEvento" />
                    <label for="ImagemEvento" class="content-upload">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        <span>@Resources.CliqueParaAdicionarFoto</span>
                    </label>
                </label>
            </label>
        </div>
        <!--<div class="form-group">
            <label class="control-label col-md-2">UPLOAD DE IMAGEM DO CASTING</label>
            <div class="col-md-10">
                <img id="imagem-icon" src="http://camaleon.tuzitio.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png" class="img-thumbnail image" alt="" />
                <input type="file" id="ImagemEvento" name="Imagem" style="display: none;" accept="images" />
            </div>
        </div>-->

        <div class="form-group">
            <input type="submit" id="btnSalvarPorCliente" value="@Resources.Salvar" class="btn btn-danger" />
            @*<input type="button" value="Booking" class="btn btn-dark" />*@
            <a href="~/Perfil/Cadastrar" class="btn btn-dark">Booking</a>
        </div>
    }

</div>










@*<div class="row">

        <h1 class="text-danger">AGENDA</h1>
        <form id="formAgenda">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">DATA *</label>
                    <div class="col-md-10">
                        <input type="date" value="" id="DataInicio" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">HORÁRIO INICIO *</label>
                    <div class="col-md-10">
                        <input type="time" value="" id="HoraInicio" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">HORÁRIO FIM</label>
                    <div class="col-md-10">
                        <input type="time" value="" id="HoraFim" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">PERFIL</label>
                    <div class="col-md-10">
                        <select id="PerfilId" class="form-control" required="required">
                            <option value="1"> Selecione o perfil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">LOCAL *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Local" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">CEP *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Cep" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">CIDADE *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Cidade" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">UF</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Uf", ViewBag.Uf as IEnumerable<SelectListItem>, new { @class = "form-control", @required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">BAIRRO *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Bairro" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">LOGRADOURO *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Logradouro" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">N° *</label>
                    <div class="col-md-10">
                        <input type="number" value="" id="Numero" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">COMPLEMENTO *</label>
                    <div class="col-md-10">
                        <input type="text" value="" id="Complemento" class="form-control" required="required" />
                    </div>
                </div>
                <button class="btn btn-danger pull-right" type="submit" id="btnAdicionar">Adicionar</button>
            </div>
        </form>

    </div>*@

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/typehead.min.js"></script>
    <script src="~/Scripts/Site/casting/casting.js"></script>

}