﻿@model IEnumerable<HzCasting.WebApp.Models.CastingViewModel>

@{
    ViewBag.Title = Resources.CastingModelo;
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>                
                <th>
                    @Html.DisplayNameFor(model => model.TituloEvento)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.NomeAgencia)
                </th>
                <th>
                    @Html.DisplayName(@Resources.Acoes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.TituloEvento)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeAgencia)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action("Details", "Casting", new { id = item.Id })"><i class="fa fa-search-plus text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

