﻿@model HzCasting.WebApp.Models.CastingViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TituloEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeAgencia)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.TituloEvento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NomeAgencia)
                </td>
            </tr>
        </table>
    </div>
</div>
