﻿@model HzCasting.WebApp.Models.CastingViewModel

@{
    ViewBag.Title = Resources.Editar;
}

<h5 class="page-title">@Resources.CamposObrigatorios</h5>

@section styles{
    <link href="~/Content/typehead.css" rel="stylesheet" />
}


<div class="form-content-block no-margin-bottom">
    <h1 class="block-title">@Resources.DadosCasting</h1>
</div>
<div class="form-content-block no-margin-top">

    @using (Html.BeginForm("Editar", "Casting", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form-casting" }))
    {
        @Html.HiddenFor(m => m.TituloEvento, new { @id = "nomeTituloDefault" })
        @Html.HiddenFor(m => m.NomeCliente, new { @id = "nomeClienteDefault"})
        @Html.HiddenFor(m => m.NomeAgencia, new { @id = "nomeAgenciaDefault" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Cliente)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("~/Views/Casting/_FormCasting.cshtml")


        <div class="form-group col-md-12">
            <input id="btnSalvar" type="submit" value="@Resources.Salvar" class="btn btn-danger" />
            <a href="~/Perfil/Cadastrar" class="btn btn-dark">Booking</a>
        </div>
    }

</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/typehead.min.js"></script>
    <script src="~/Scripts/Site/casting/casting.js"></script>

}