﻿@model IEnumerable<HzCasting.WebApp.Models.CastingViewModel>

@{
    ViewBag.Title = "Listar Casting";
}

<h5 class="page-title">
    @*Veja a baixo a lista de casting cadastrados no sistema.<br />Aqui você pode cadastrar novos castings, editá-los e excluí-los quando necessário.*@
    @Resources.ListarCastingCadastrados
    @Html.ActionLink(Resources.AdicionarCasting, "CadastrarPorCliente", "Casting", new { @class = "btn btn-primary pull-right" })
</h5>

<div class="form-content-block">
    <form action="/Casting/ListarPorCliente">

        <div class="form-group col-xs-2 col-md-2">
            <label for="evento">@Resources.Eventos</label>
            <input type="text" name="titulo" id="titulo" class="form-control" />
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="DataInicio" class="control-label col-xs-12 col-md-12">@Resources.DataInicio</label>
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <input type="text" id="DataInicio" name="dataInicio" class="form-control data" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="DataFim" class="control-label col-xs-12 col-md-12">@Resources.DataFim</label>
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <input type="text" id="DataFim" name="dataFim" class="form-control data" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12 col-md-5">
            <div class="row">
                <label class="col-xs-12 col-md-12">@Resources.Realizao</label>
                <div class="radio-group">
                    <fieldset class="radio col-xs-4 col-md-2">
                        <input type="radio" name="realizacao" id="passado" value="Passado" />
                        <label for="passado">@Resources.Passado</label>
                    </fieldset>

                    <fieldset class="radio col-xs-3 col-md-2">
                        <input type="radio" name="realizacao" id="futuro" value="Futuro" />
                        <label for="futuro">@Resources.Futuro</label>
                    </fieldset>
                </div>

                <div class="col-xs-6 col-md-3">
                    <button class="btn btn-dark btn-block filtrar" type="submit">@Resources.Filtrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>

                <th>
                    @Html.DisplayName(Resources.Imagem)
                </th>
                <th>
                    @Html.DisplayName(Resources.Eventos)
                </th>

                <th>
                    @Html.DisplayName(Resources.NomeCliente)
                </th>

                <th>
                    @Html.DisplayName(Resources.NomeAgencia)
                </th>
                <th>
                    @Html.DisplayName(Resources.DataInicio)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImagemSrc" alt="" title="imagem casting" width="300"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TituloEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeAgencia)
                    </td>

                    <td class="actions">
                        <a class="btn btn-primary pull-right" href="/Casting/Editar?id=@(item.Id)&cliente=true">@Resources.Editar</a>
                        <a class="btn btn-primary pull-right" href="/Perfil/Listar?idCasting=@item.Id">@Resources.Perfil</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>