﻿@model IEnumerable<HzCasting.WebApp.Models.CastingViewModel>

@{
    ViewBag.Title = Resources.ListarCasting;
    var userid = HttpContext.Current.User.Identity.GetUserId();
    bool agencia;
    bool cliente;
    bool backOffice;
    bool modelo;
    bool erroPerfis = false;
    try
    {
        agencia = Roles.IsUserInRole("Agencia");
        cliente = Roles.IsUserInRole("Cliente");
        backOffice = Roles.IsUserInRole("Admin");
        modelo = Roles.IsUserInRole("Modelo");
    }
    catch
    {
        erroPerfis = true;
        cliente = false;
        modelo = false;
        agencia = false;
        backOffice = true;
    }

}
@section styles {
    <style>
        .img-casting {
            width: 25%;
        }
    </style>


}
<h5 class="page-title">
    @*Veja a baixo a lista de casting cadastrados no sistema.<br />Aqui você pode cadastrar novos castings, editá-los e excluí-los quando necessário.*@
    @Resources.ListarCastingCadastrados
    @Html.ActionLink(Resources.AdicionarCasting, "Cadastrar", "Casting", new { @class = "btn btn-primary pull-right" })
</h5>

<div class="form-content-block">
    <form action="/Casting/Listar">

        <div class="form-group col-xs-2 col-md-2">
            <label for="evento">@Resources.Eventos</label>
            <input type="text" name="titulo" id="titulo" class="form-control" />
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <label for="cliente">@Resources.Cliente</label>
            <input type="text" name="cliente" id="cliente" class="form-control" />
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <label for="agencia">@Resources.Agencia</label>
            <input type="text" name="agencia" id="agencia" class="form-control" />
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="DataInicio" class="control-label col-xs-12 col-md-12">@Resources.DataInicio</label>
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <input type="text" id="DataInicio" name="dataInicio" class="form-control data" placeholder="99/99/9999" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="DataFim" class="control-label col-xs-12 col-md-12">@Resources.DataFim</label>
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <input type="text" id="DataFim" name="dataFim" class="form-control data" placeholder="99/99/9999"/>
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="DataFim" class="control-label col-xs-12 col-md-12">@Resources.StatusCasting</label>
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        @Html.DropDownList("statusId", ViewBag.StatusCasting as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="Realizacao" class="control-label col-xs-12 col-md-12">@Resources.Realizao</label>
                <div class="col-xs-12 col-md-12">
                    <div class="radio-group">
                        <fieldset class="radio">
                            <input type="radio" name="realizacao" id="passado" value="Passado" />
                            <label for="passado">@Resources.Passado</label>

                            <input type="radio" name="realizacao" id="futuro" value="Futuro" />
                            <label for="futuro">@Resources.Futuro</label>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-2 col-md-2">
            <div class="row">
                <label for="CriadoPeloCliente" class="control-label col-xs-12 col-md-12">@Resources.CriadoPeloCliente</label>
                <div class="col-xs-12 col-md-12">
                    @Html.CheckBox("criadoCliente")
                    @Html.Label(Resources.Sim)
                </div>
            </div>
        </div>
</div>

<div class="col-xs-6 col-md-3">
    <button class="btn btn-dark btn-block filtrar" type="submit">@Resources.Filtrar</button>
</div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>

                <th>
                    @Html.DisplayName(Resources.Imagem)
                </th>
                <th>
                    @Html.DisplayName(Resources.Casting)
                </th>
                <th>
                    @Html.DisplayName(Resources.Eventos)
                </th>

                <th>
                    @Html.DisplayName(Resources.NomeCliente)
                </th>

                <th>
                    @Html.DisplayName(Resources.NomeAgencia)
                </th>
                <th>
                    @Html.DisplayName(Resources.DataInicio)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImagemSrc" class="img-responsive img-casting" alt="" title="imagem casting" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TituloEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeAgencia)
                    </td>

                    <td class="actions">
                        <a class="btn btn-primary pull-right" href="/Casting/Editar/@item.Id">@Resources.Editar</a>
                        <a class="btn btn-primary pull-right" href="/Perfil/Listar?idCasting=@item.Id">@Resources.Perfil</a>
                        @if (!cliente)
                        {
                            <a class="btn btn-primary pull-right" href="/Booking/Listar?castingId=@item.Id">Book</a>
                            <a class="btn btn-primary pull-right" href="@Url.Action("AgendaPorCasting", "Casting", new { castingId = item.Id })">@Resources.Agenda</a>

                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>