﻿/*Radio e Checkbox*/

.radio, .checkbox{
    display: inline-block;
    padding-left: 0;
}

.radio-group{
    margin: 5px 0;
    float: left;
}

.radio label, 
.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    text-transform: initial !important;
}

.radio input[type=radio] {
    display: none;
}

.radio label:before,
.checkbox label:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: solid 2px rgb(204, 7, 30);
}

.radio label:before {
    border-radius: 10px;
}

.radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: rgb(204, 7, 30);
    font-size: 38px;
    text-align: center;
    line-height: 18px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox{
    padding: 0;
}

.checkbox label:before {
    border-radius: 3px;
}

.checkbox input[type=checkbox]:checked + input + label:before {
    content: "\2713";
    font-size: 15px;
    color: #CB071D;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
}

.radio, .checkbox, .radio + .radio, .checkbox + .checkbox{
    margin: 0;
}

/*File Upload*/

.upload-custom{
    width: 100%;
    display: block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #fff;
    padding: 2em 0;
}

.upload-custom input[type="file"] {
    position: fixed;
    top: -1000px;
}

.upload-custom .center-content-upload{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.upload-custom .content-upload {
    display: flex;
    align-items: center;
    width: 100%;
}
.upload-custom .content-upload:hover {
    background: #fff;
}
.upload-custom .content-upload:active {
    background: #fff;
}
.upload-custom div:invalid + span {
    color: #fff;
}
.upload-custom .content-upload:valid + span {
    color: #fff;
}

.content-upload span{
   color: #999999;
   font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    text-transform: initial;
}

.upload-custom .content-upload i{
    color: #06CD89;
    font-size: 4.125em;
    margin-right: 0.2em;
    display: flex;
}


/*Datepicker custom*/

.datepicker td.active, .datepicker td.active:hover{
    background: #CB061E;
    background-color: #CB061E !important;
}