﻿
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	  url('../fonts/MyriadPro-Regular.woff') format('woff'), 
      url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), 
      url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/MyriadPro-Cond.otf')  format('opentype'),
	  url('../fonts/MyriadPro-Cond.woff') format('woff'), 
      url('../fonts/MyriadPro-Cond.ttf')  format('truetype'), 
      url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}
