﻿/*Header*/

.header .navbar-default{
    background: #1C1C1C;
    border: none;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.header .navbar-nav{
    background: #120E13;
    padding-top: 5px;
    margin: 0;
}

.header .navbar-default .navbar-nav > li > a{
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.header .navbar-default .navbar-nav i {
    color: #CB051D;
    font-size: 20px;
    padding: 12px 20px;
    float: left;
    padding: 8px 0px;
}

.header .navbar-header{
    position: relative;
    width: 100%;
}

.dropdown-toggle span{
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    float: left;
    padding: 7px 20px 10px 5px;
    margin: 0 18px 0 0;
}

.header .left{
    left: 0 !important;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
    background: transparent;
}

.header-title{
    color: #CB061E;
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

@media(min-width:768px) {
    .header-title {
        width: auto;
        margin: 16px 75px;
        color: #fff;
    }

    .navbar-nav > li > a {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

