﻿body{
    background: #E7E7E7;
}

.login-header{
    background: #000;
    padding: 10px;
    overflow:hidden;
}

.login-header a p {
    margin: 0;
}

.login-header a{
    color: #fff;
    float: right;
}

.login-logo{
    text-align: center;
    margin-bottom: 3em;
}
.login-logo img{
    width: 34%;
}

.login-content{
    float: none;
    margin: auto;
    margin-top: 3em;
}

#loginTabs .nav-tabs{
    border-bottom: solid 1px rgba(204, 7, 30, 0.7);
}

#loginTabs .nav-tabs > li{
    width: 50%;
}

.nav-tabs > li > a{
    color: rgba(255, 255, 255, 0.5);
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.500em;
    width: 100%;
}

.nav-tabs > li > a:hover{
    background: transparent;
    border-bottom: solid 4px  rgb(204, 7, 30);
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
    border: none;
    color: #fff;
    background: transparent;
    border-bottom: solid 4px  rgb(204, 7, 30);
}

.tab-content{
    margin-top: 1.875em;
}

.login-content .form-control{
    background: transparent;
    border: solid 1px rgba(204, 7, 30, 0.7);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.5);
    height: 40px;
    outline: none;
}
.form-control:focus{
    box-shadow: none;
}