﻿/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1040;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #CB051D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background: #E7E7E7;
    top: 6.4em;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    background-image: url("../Images/bg_menu.jpg");
    height: 100%;
    background-position: 100% 65px;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    overflow: hidden;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    line-height: 40px;
}

.sidebar-nav li a i {
    float: left;
    width: 40px;
    opacity: 0.5;
}

    .sidebar-nav li a:hover i {
        opacity: 1;
    }

.sidebar-nav li a:hover,
.sidebar-nav li.open > a{
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border-left: solid 4px #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 90px;
    background: #353335;
    text-align: center;
}


.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    border: none;
    background: none;
}

.menu-toggle-btn{
    padding: 6px 15px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #1C1C1C;
    position: absolute;
    left: 10px;
    top: 15px;
}

.menu-toggle-btn:hover,
.menu-toggle-btn:focus{
    color: #fff;
}

.dropdown-custom.dropdown-menu{
    position: initial;
    width: 100%;
    padding: 0;
    background: rgba(0,0,0,0.3);
    box-shadow: none;
    border: none;
    margin: 0;
}

.dropdown-custom.dropdown-menu > li > a{
    font-size: 11px;
    padding-left: 55px;
}

.dropdown-custom.dropdown-menu li a:hover{
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #fff;
}

.menu-right .dropdown-menu a {
    color: #CB051D;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 30px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .menu-toggle-btn {
        top: 20px;
    }
}

