﻿#formModelo .panel {
    box-shadow: none;
    margin: 0;
}

#formModelo .form-content-block {
    padding: 0;
}

#formModelo .panel-default {
    border: none;
    background: #F3F3F3;
}

    #formModelo .panel-default > .panel-heading {
        padding: 0;
        position: relative;
        border-left: solid 4px #ECECEC;
        left: 13px;
        background: #F3F3F3;
        min-height: 48px;
    }

#formModelo .panel-title {
    border: none;
    padding-bottom: 0;
    padding-left: 30px;
}

    #formModelo .panel-title > a {
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 15px;
        border-bottom: solid 1px #E7E7E7;
        width: 100%;
        display: inline-block;
    }

        #formModelo .panel-title > a:hover,
        #formModelo .panel-title > a:focus,
        #formModelo .panel-title > a:visited,
        #formModelo .panel-title > a:active {
            text-decoration: none;
        }

#formModelo .panel-default i.step {
    background: #fff;
    color: #9A9A9B;
    width: 30px;
    height: 30px;
    border: solid 2px #9A9A9B;
    border-radius: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    top: 8px;
}

/*#formModelo .panel-title:before > a:not(.collapsed) {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    line-height: 30px;
    background: #06CD89;
    color: #0BB178;
    border-color: #06CD89;
}*/

#formModelo .panel-default .panel-body {
    background: #F3F3F3;
    border: none;
    padding-left: 0;
    margin-left: 13px;
    border-left: solid 4px #ECECEC;
}
