﻿.ranges input{
    background: transparent;
    border: none;
    margin-bottom: 15px;
}

.ranges input:last-child{
    text-align:right;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    background: #CB071D !important;
}