﻿body {
    font-family: 'MyriadPro-Regular' sans-serif;
    font-size: 120%;
}

h1,
h2 {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

h1 {
    font-size: 1.500em !important;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    font-size: 1em !important;
    margin-top: 0;
}

.block-content {
    clear: both;
    margin-top: 3.571em;
    margin-bottom: 3.571em;
    overflow: hidden;
}

    .block-content + .block-content {
        margin-top: 0;
    }

.btn-group {
    display: initial;
    margin-top: 1.250em;
}

    .btn-group > .btn:last-child:not(:first-child) {
        border-radius: 25px;
    }

.btn {
    border-radius: 25px;
    font-size: 1.125em;
}

.btn-link {
    color: #fff;
    text-transform: uppercase;
}

    .btn-link:hover,
    .btn-link:focus,
    .btn-link:active,
    .btn-link.active {
        color: #fff;
        text-decoration: underline;
    }


.btn-default {
    color: #fff;
    background: rgba(73, 71, 73, 0.8);
    border: solid 1px rgb(73, 71, 73);
    text-transform: uppercase;
    line-height: 2em;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
        color: #fff;
        background: rgba(73, 71, 73, 0.6);
        border: solid 1px rgb(73, 71, 73);
    }

.btn-primary {
    background: #CB071D;
    border-color: #CB071D;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background: rgba(204, 7, 30, 0.9);
        border-color: #CB071D;
    }

.btn-facebook {
    background: #3B5997;
    border-color: #3B5997;
    color: #fff;
    font-weight: bold;
    margin-top: 1.250em;
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active {
        background: rgba(59, 89, 151, 0.9);
        border-color: #3B5997;
        color: #fff;
    }

.btn-white {
    background: #fff;
    color: #CB071D;
    font-weight: bold;
    border: solid 1px #fff;
}

.btn-dark {
    background: #353436;
    color: #fff;
    font-weight: bold;
    border: solid 1px #353436;
}

    .btn-dark:hover {
        color: #fff;
    }

.form-content-block {
    background: #F3F3F3;
    padding: 10px;
    margin: 10px;
}

    .form-content-block:before,
    .form-content-block:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .form-content-block:after {
        clear: both;
    }

.container-content-block {
    background: transparent;
    overflow: hidden;
    margin: 10px;
}

.form-control {
    border-radius: 20px;
}

.form-group label {
    text-transform: uppercase;
    color: #656565;
    font-weight: normal;
}

.input-group .form-control:first-child {
    border-right: none;
}

.input-group-addon {
    border-radius: 20px;
    background: #fff;
}

    .input-group-addon i {
        color: #CB061E;
        font-weight: bold;
    }

.text-danger {
    color: #CB071D !important;
}

.page-title {
    padding: 0 0.7em 2em;
}

    .page-title .btn {
        line-height: 25px;
    }

.block-title {
    color: #CB061E;
    text-align: left;
    padding: 15px;
    margin: 0;
    border-bottom: solid 1px #E7E7E7;
}

.table-responsive {
    border: none;
}

    .table-responsive > .table {
        background: transparent;
        border: none;
    }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border: none;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th {
    border-bottom: 1px solid #dddddd;
}

.table .actions {
    display: flex;
    align-items: center;
}

    .table .actions a {
        margin: 0 6px;
        font-size: 1.5em;
        display: flex;
    }

@media (min-width: 768px) {
    .modal-sm {
        width: 300px;
    }
}

