﻿@model HzCasting.WebApp.Models.PerfilCastingViewModel

@section styles{
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
}

<div class="form-content-block no-margin-bottom">
    <h1 class="block-title">@Resources.Perfil</h1>
</div>
<div class="form-content-block no-margin-top">

    <div class="form-group col-md-12">
        @Html.LabelFor(x => x.Titulo, new { @class = "" })
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(x => x.QuantidadeCandidato, new { @class = "" })
        @Html.TextBoxFor(x => x.QuantidadeCandidato, new { @class = "form-control", type = "number", min = "1", required = "required" })
    </div>

    <div class="form-group col-md-6">
        @Html.Label(Resources.CorPele, htmlAttributes: new { @class = "" })
        @Html.DropDownList("CorPele", ViewBag.CorPeleList as IEnumerable<SelectListItem>, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.CorPele, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.Label(Resources.TipoSelecao, htmlAttributes: new { @class = "" })
        @Html.DropDownList("TipoSelecao", ViewBag.TipoSelecaoList as IEnumerable<SelectListItem>, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.TipoSelecao, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6" id="divAgenda" style="display:none;" >
        <label>AGENDA *</label>
        <select id="agenda" name="AgendaId" class="form-control">
            <option value=""></option>
        </select>
    </div>
    @*<div class="form-group col-md-6">
        @Html.Label(Resources.CorPele, htmlAttributes: new { @class = "" })
        @Html.DropDownList("CorPele", ViewBag.CorPele as IEnumerable<SelectListItem>, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.CorPele, "", new { @class = "text-danger" })
    </div>*@


    <div class="form-group col-md-6">
        @Html.Label(Resources.CorCabelo, htmlAttributes: new { @class = "" })
        @Html.DropDownList("CorCabelo", ViewBag.CorCabeloList as IEnumerable<SelectListItem>, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.CorCabelo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        @Html.Label(Resources.CorOlhos, htmlAttributes: new { @class = "" })
        @Html.DropDownList("CorOlhos", ViewBag.CorOlhosList as IEnumerable<SelectListItem>, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.CorOlhos, "", new { @class = "text-danger" })
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Idade</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Idade"></div>
            @*<input type="text" id="IdadeMin" name="IdadeMin" readonly>
            <input type="text" id="IdadeMax" name="IdadeMax" readonly>*@

            @Html.TextBoxFor(model => model.IdadeMin,   new {  @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.IdadeMax,   new {  @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Peso</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Peso"></div>
            @*<input type="text" id="PesoMin" name="PesoMin" readonly>
            <input type="text" id="PesoMax" name="PesoMax" readonly>*@

            @Html.TextBoxFor(model => model.PesoMin, new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.PesoMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Altura</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Altura"></div>
            @*<input type="text" id="AlturaMin" name="AlturaMin" readonly>
            <input type="text" id="AlturaMax" name="AlturaMax" readonly>*@

            @Html.TextBoxFor(model => model.AlturaMin,  new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.AlturaMax, new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Manequim</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Manequin"></div>
            @*<input type="text" id="ManequinMin" name="ManequinMin" readonly>
            <input type="text" id="ManequinMax" name="ManequinMax" readonly>*@

            @Html.TextBoxFor(model => model.ManequinMin,new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.ManequinMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Cintura</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Cintura"></div>
            @*<input type="text" id="CinturaMin" name="CinturaMin" readonly>
            <input type="text" id="CinturaMax" name="CinturaMax" readonly>*@

            @Html.TextBoxFor(model => model.CinturaMin,  new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.CinturaMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Quadril</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Quadril"></div>
            @*<input type="text" id="QuadrilMin" name="QuadrilMin" readonly>
            <input type="text" id="QuadrilMax" name="QuadrilMax" readonly>*@

            @Html.TextBoxFor(model => model.QuadrilMin, new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.QuadrilMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Busto</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Busto"></div>
            @*<input type="text" id="BustoMin" name="BustoMin" readonly>
            <input type="text" id="BustoMax" name="BustoMax" readonly>*@

            @Html.TextBoxFor(model => model.BustoMin,  new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.BustoMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="form-group ranges">
        <label class="control-label col-md-2">@Resources.Calcado</label>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="Calcado"></div>
            @*<input type="text" id="CalcadoMin" name="CalcadoMin" readonly>
            <input type="text" id="CalcadoMax" name="CalcadoMax" readonly>*@

            @Html.TextBoxFor(model => model.CalcadoMin,  new { @readonly = "readonly" } )
            @Html.TextBoxFor(model => model.CalcadoMax,  new { @readonly = "readonly" } )
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group">
        <label class="control-label col-md-2">@Resources.Tatuagem</label>
        <div class="radio-group">
            <fieldset class="radio col-xs-4 col-md-2">
                @*<input type="radio" name="Tatuagem" id="true" value="true" />
                <label for="true">@Resources.Sim</label>*@

                @Html.RadioButtonFor(model=>model.Tatuagem,true, new { id = "rbTatuagem1" })
                <label for="rbTatuagem1">@Resources.Sim</label>
            </fieldset>

            <fieldset class="radio col-xs-4 col-md-2">
                @*<input type="radio" name="Tatuagem" id="false" value="false" />
                <label for="false">@Resources.Nao</label>*@
                @Html.RadioButtonFor(model => model.Tatuagem, false, new { id = "rbTatuagem2" })
                <label for="rbTatuagem2">@Resources.Nao</label>
            </fieldset>
        </div>
    </div>
</div>
