﻿@model HzCasting.WebApp.Models.PerfilCastingViewModel

@{
    ViewBag.Title = Resources.CadastrarPerfil; 
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CastingId)
    @Html.Partial("~/Views/Perfil/_FormPerfil.cshtml")
    
    <div class="form-group col-md-2">
        <input type="submit" value="@Resources.Cadastrar" class="btn btn-block btn-primary" />
        <div class="text-danger">
            @Html.ValidationMessage("", new { @class = "text-danger"})
        </div>
    </div>
}



@section scripts {
     
<script src="~/Scripts/Site/perfil/perfil.js"></script>

}

    
