﻿@model HzCasting.WebApp.Models.PerfilCastingViewModel
@{
    ViewBag.Title = Resources.EditarPerfil;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CastingId)
    @Html.HiddenFor(m => m.Id)
    @Html.Partial("~/Views/Perfil/_FormPerfil.cshtml")

    <div class="form-group col-md-2">
        <input type="submit" value="@Resources.Editar" class="btn btn-block btn-primary" style="text-transform: uppercase" />
        <div class="text-danger">
            @Html.ValidationMessage("error")
        </div>
    </div>
}

@section scripts {

    <script src="~/Scripts/Site/perfil/perfil.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Idade").slider("option", "values", [$("#IdadeMin").val(), $("#IdadeMax").val()]);

            $("#Peso").slider("option", "values", [$("#PesoMin").val(), $("#PesoMax").val()]);

            $("#Altura").slider("option", "values", [$("#AlturaMin").val().replace(",", "."), $("#AlturaMax").val().replace(",", ".")]);

            $("#Manequin").slider("option", "values", [$("#ManequinMin").val(), $("#ManequinMax").val()]);

            $("#Cintura").slider("option", "values", [$("#CinturaMin").val(), $("#CinturaMax").val()]);

            $("#Quadril").slider("option", "values", [$("#QuadrilMin").val(), $("#QuadrilMax").val()]);

            $("#Busto").slider("option", "values", [$("#BustoMin").val(), $("#BustoMax").val()]);

            $("#Calcado").slider("option", "values", [$("#CalcadoMin").val(), $("#CalcadoMax").val()]);

        });
    </script>

}

