﻿@model IEnumerable<HzCasting.WebApp.Models.PerfilCastingViewModel>
@using HzCasting.Domain.Entities
@{
    ViewBag.Title = Resources.ListarPerfil;
    var castingTitulo = ViewBag.CastingTitulo ?? "";
    var castingId = @ViewBag.CastingId ?? 0;

    var userid = HttpContext.Current.User.Identity.GetUserId();

}
@{
    bool agencia;
    bool cliente;
    bool backOffice;
    bool modelo;
    bool erroPerfis = false;
    try
    {
         agencia = Roles.IsUserInRole("Agencia");
        cliente = Roles.IsUserInRole("Cliente");
        backOffice = Roles.IsUserInRole("Admin");
        modelo = Roles.IsUserInRole("Modelo");

    }
    catch
    {
        cliente = false;
        modelo = false;
        agencia = false;
        backOffice = true;
    }
}

<h5 class="page-title">
    @*Veja a baixo a lista de perfis cadastrados no sistema.<br />Aqui você pode cadastrar novos perfis.*@
    @Resources.ListarPerfilCadastrados
    @*<a class="btn btn-primary pull-right" href="Cadastrar">Cadastrar Perfil</a>*@
    @Html.ActionLink(Resources.CadastrarPerfil, "Cadastrar", "Perfil", new { idCasting = castingId }, new { @class = "btn btn-primary pull-right" })




    @if (!ViewBag.IsCliente)
    {
        @*<button class="btn btn-primary pull-right" id="modelosCasting" data-item="@(castingId)">Booking</button>*@
        @Html.ActionLink("Booking", "Listar", "Booking", new { castingId = castingId }, new { @class = "btn btn-primary pull-right" })

    }
</h5>

<div class="container-content-block">
    @if (castingTitulo != string.Empty)
    {
        <h2 class="text-success">@Resources.NomeDoCasting : @castingTitulo</h2>
    }
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName(Resources.Titulo)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>


                    <td class="actions">
                        @if (!cliente)
                        {
                            @Html.ActionLink(Resources.Compativel, "ModelosCompativeis", "Booking", new { perfilId = item.PerfilId, castingId = castingId }, new { @class = "btn btn-primary pull-right" })
                            @Html.ActionLink("Booking", "Listar", "Booking", new { castingId = castingId, perfilId = item.PerfilId }, new { @class = "btn btn-primary pull-right" })
                        }


                        @*@Html.ActionLink("Editar Perfil", "Editar", "Perfil", new {@class= "btn btn-primary pull-right" })*@

                        <a href="~/Perfil/Editar/@item.PerfilId" name="editarPerfil" class="btn btn-primary pull-right">@Resources.EditarPerfil</a>

                        @*@if (castingTitulo != string.Empty)
                            {

                                <a href="#" name="adicionaPerfil" class="btn btn-primary pull-right">Selecionar</a>
                                <input type="hidden" name="PerfilId" value="@(item.PerfilId)" />
                                <input type="hidden" name="CastingId" value="@(castingId)" />
                            }*@
                        @*<a href="@Url.Action("Deletar", "Perfil", new { id = item.EventoId })"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>*@
                    </td>

                    @if (ViewBag.Agendas != null && item.TipoSelecao != (Int32)TipoSelecaoEnum.Foto)
                    {
                        <td>

                            @Html.Label("Data", htmlAttributes: new { @class = "" })
                            @Html.DropDownList("AgendaId", ViewBag.Agendas as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ActionLink("Registrar", "AssociarAgendaAoPerfil", "Perfil", new { perfilId = item.PerfilId, castingId = castingId }, new { @class = "btn btn-success" })
                        </td>
                    }

                </tr>
            }
        </table>
        @*@Html.ActionLink("Adicionar Modelos no perfil", "Modelos", "Pefil", new { CastingId = castingId })*@
    </div>
</div>
<div class="modal fade bd-example-modal-lg modal-modelos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelosSelecionadas">

        </div>
    </div>
</div>
@section scripts {

    <script src="~/Scripts/Site/common/util.js"></script>
    <script src="~/Scripts/Site/perfil/perfil.js"></script>
    <script src="~/Scripts/Site/modelosCompativeis/modelosCompativeis.js"></script>
}