﻿@model IEnumerable<HzCasting.WebApp.Models.PerfilCastingViewModel>

@{
    ViewBag.Title = "Modelos";
}

<h2>Modelos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeModelo)
        </th>
         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeModelo)
        </td>
         
        <td> 
            @Html.ActionLink("Detalhes da Modelo", "Details", new { id=item.Id })  
        </td>
    </tr>
}

</table>
