﻿@using HzCasting.WebApp.Models
@using HzCasting.Domain.Entities
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    bool IsBackOffice = Model.IsBackOffice;

    if (IsBackOffice)
    {
        Layout = "~/Views/Shared/LoginBackOfficeLayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }

}

<div class="col-xs-12 col-md-4 login-content">
    <figure class="login-logo"><img src="~/Images/logo_hz_login.svg" /></figure>

    <div @if (!IsBackOffice) { <text> id="loginTabs" </text>    }>

        @if (!IsBackOffice)
        {
        <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active modelo">
                    <a>Sou<strong>Modelo</strong></a>
                </li>
                <li role="presentation" class="cliente">
                    <a>Sou<strong>Cliente</strong></a>
                </li>
            </ul>
        } else {
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active modelo" style="width:100%">
                    <a><strong>BackOffice</strong></a>
                </li>
            </ul>
            }
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <div class="block-content" id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(x => x.IsBackOffice)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label hidden" })
                            <div class="col-xs-12 col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Digite seu login", maxlength = 40 })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label hidden" })
                            <div class="col-xs-12 col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>

                        <div class="btn-group">
                            <a href="/Account/ForgotPassword" class="btn btn-block btn-link">Esqueci minha senha</a>
                            @*@Html.ActionLink("Esqueci minha senha", "ForgotPassword")*@
                            <input type="submit" value="Entrar" class="btn btn-block btn-primary" />
                        </div>}
                        <div class="clearfix"></div>
                        @if (!IsBackOffice) {
                        <div class="btn-group" id="modeloShow">
                            <div id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </div>
                        </div>}
                    </div>

                    @if (!IsBackOffice) {
                    <div class="block-content" id="cadastrar">
                        <h1>Ainda não tem cadastro?</h1>
                        <h2>Cadastre-se agora e faça parte do maior casting do Brasil</h2>

                        <div class="btn-group">
                            <a href="/Modelo/Registrar" class="btn btn-block btn-default">Cadastrar Novo Usuario</a>
                            @*@Html.ActionLink("Cadastrar Novo Usuario", "Register")*@
                        </div>
                    </div>}

                </div>


            </div>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site/login/login.js"></script>
}