﻿@model HzCasting.WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "CRIAR NOVA CONTA";
}


<div class="form-content-block">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Cpf, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<span class="text-danger">*</span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-2">
            <input type="submit" class="btn btn-block btn-primary" value="@Resources.Registrar" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


