﻿@using HzCasting.WebApp.Models.Account;
@model VerificarCadastroViewModel
@{
    ViewBag.Title = "VerificarCadastro";
    Layout = "~/Views/Shared/_LayoutBasico.cshtml";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(x=> x.FacebookEmail)
    @Html.HiddenFor(x => x.FacebookToken)

    <div>
        <h4>
            @Resources.Modelo
        </h4>
    </div>
    <div>
        <div class="form-group col-md-12">
            @Html.LabelFor(m => m.Cpf, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf" })
            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
        </div>
       
    </div>

    <div class="form-group col-md-2 pull-right">
        <input type="submit" value="Verificar" class="btn btn-success btn-block" />
    </div>

}

