﻿@model HzCasting.WebApp.Models.Modelos.ModeloBaseViewModel

@*<h5 class="page-title">Os campos com <span class="text-danger">*</span> são obrigatórios.</h5>*@
<h5 class="page-title">
    @Resources.CamposObrigatorios
</h5>

<style>
    .gravarImagens {
        margin: 8px 0 0 32px;
    }

    .fileImagens {
        margin: auto 32px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <a href="/Modelo/ListarFotos" class="btn btn-success pull-right">Galeria de fotos</a>
    </div>
    <div class="col-md-4">
        <a href="/Modelo/ImportarFotosModelo" class="btn btn-success pull-right">Importação de fotos</a>
    </div>
</div>
<div class="form-content-block" id="formModelo">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headUsuario">
                <h4 class="panel-title block-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#usuario" aria-expanded="true" aria-controls="usuario">
                        @Resources.Usuario
                    </a>
                </h4>
            </div>
            <div id="usuario" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headUsuario">
                @*<div class="panel-body">*@
                <form id="form-usuario">
                    @Html.Partial("~/Views/Shared/_FormUsuario.cshtml")
                    <div class="form-group col-md-2 pull-right">
                        <input type="button" id="btn-usuario" value="@Resources.Salvar" class="btn btn-success btn-block salvarUsuario" />
                    </div>
                </form>
                @*</div>*@
            </div>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headDadosPessoais">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosPessoais" aria-expanded="false" aria-controls="dadosPessoais">
                        @Resources.DadosPessoais
                    </a>
                </h4>
            </div>
            <form id="form-dadoscadastrais">
                <div id="dadosPessoais" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headDadosPessoais">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PrimeiroNomeDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.PrimeiroNomeDadosPessoais, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrimeiroNomeDadosPessoais, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.UltimoNomeDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.UltimoNomeDadosPessoais, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UltimoNomeDadosPessoais, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-6 col-md-3">
                            <div class="row">
                                <label for="DataNascimentoDadosPessoais" class="control-label col-xs-12 col-md-12">@Resources.DataNascimentoDadosPessoais</label>
                                <div class="col-xs-12 col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.DataNascimentoDadosPessoais, new { htmlAttributes = new { @class = "form-control data", placeholder = "99/99/9999" } })
                                        @Html.ValidationMessageFor(model => model.DataNascimentoDadosPessoais, "", new { @class = "text-danger" })
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.Label(Resources.EstadoCivilIdDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("EstadoCivilId", ViewBag.EstadoCivil as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstadoCivilIdDadosPessoais, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label(Resources.SexoIdDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("SexoId", ViewBag.Sexos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SexoIdDadosPessoais, "", new { @class = "text-danger" })
                        </div>

                        <div id="fotos" class="tab-pane">

                            <div class="row">
                                <input type="file" id="arquivo-file" value="" class="fileImagens" />

                                <button class="btn btn-success gravarImagens" type="button" id="btn-imagem">@Resources.GravarImagensSelecionadas</button>
                                <output id="saida-gravar-imagem"></output>
                            </div>
                            <br />
                            <div class="form-group col-md-2 pull-right">
                                <input type="button" id="btn-dadosCadastrais" value="@Resources.Salvar" class="btn btn-success btn-block salvarDadosPessoais" />
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headEndereco">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#endereco" aria-expanded="false" aria-controls="endereco">
                        @Resources.Endereco
                    </a>
                </h4>
            </div>

            <form id="form-endereco">
                <div id="endereco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headEndereco">
                    <div class="panel-body">

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CepEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CepEndereco, new { htmlAttributes = new { @class = "form-control cep" } })
                            @Html.ValidationMessageFor(model => model.CepEndereco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.LogradouroEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.LogradouroEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.LogradouroEndereco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.NumeroEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.NumeroEndereco, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.NumeroEndereco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ComplementoEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.ComplementoEndereco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ComplementoEndereco, "", new { @class = "text-danger" })
                        </div>



                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.BairroEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.BairroEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.BairroEndereco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ZonaEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.ZonaEndereco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZonaEndereco, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group col-md-4">
                                @Html.LabelFor(model => model.GDEEndereco, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.GDEEndereco, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GDEEndereco, "", new { @class = "text-danger" })
                            </div>*@

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CidadeEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CidadeEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.CidadeEndereco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.EstadoEndereco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.EstadoEndereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.EstadoEndereco, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group col-md-2 pull-right">
                        <input type="button" id="btn-endereco" value="@Resources.Salvar" class="btn btn-success btn-block" />
                    </div>

                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headContato">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#contato" aria-expanded="false" aria-controls="contato">
                        @Resources.Contato
                    </a>
                </h4>
            </div>
            <form id="form-contato">
                <div id="contato" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headContato">
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.TelefoneDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.TelefoneDadosPessoais, new { htmlAttributes = new { @class = "form-control telefone", placeholder = "(99) 9999-9999" } })
                            @Html.ValidationMessageFor(model => model.TelefoneDadosPessoais, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CelularDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CelularDadosPessoais, new { htmlAttributes = new { @class = "form-control celular", placeholder = "(99) 99999-9999" } })
                            @Html.ValidationMessageFor(model => model.CelularDadosPessoais, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-contato" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headdocumentose">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#documentos" aria-expanded="false" aria-controls="documentos">
                        @Resources.Documentos
                    </a>
                </h4>
            </div>
            <form id="form-documentos">
                <div id="documentos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdocumentose">
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.RgDocumento, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.RgDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RgDocumento, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control cpf cpfModelo" } })
                            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PisDocumento, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.PisDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PisDocumento, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CateiraProfissionalDocumento, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CateiraProfissionalDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CateiraProfissionalDocumento, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Passaporte, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Passaporte, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Passaporte, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-documento" value="@Resources.Salvar" class="btn btn-success btn-block salvarModelo" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headdadosBancarios">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosBancarios" aria-expanded="false" aria-controls="dadosBancarios">
                        @Resources.DadosBancarios
                    </a>
                </h4>
            </div>
            <form id="form-dadosbancarios">
                <div id="dadosBancarios" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdadosBancarios">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.NomeBanco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.NomeBanco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomeBanco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AgenciaBanco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.AgenciaBanco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AgenciaBanco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ContaBanco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.ContaBanco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContaBanco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-dadosbancarios" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headescolaridade">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#escolaridade" aria-expanded="false" aria-controls="escolaridade">
                        @Resources.Escolaridade
                    </a>
                </h4>
            </div>
            <form id="form-escolaridade">
                <div id="escolaridade" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headescolaridade">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.Label("Escolaridade", htmlAttributes: new { @class = "" })
                            @Html.DropDownList("EscolaridadeId", ViewBag.Escolaridade as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.FormacaoEscolaridade, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.EscolaridadeId, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group col-md-4">
                                @Html.LabelFor(model => model.TecnicoEscolaridade, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.TecnicoEscolaridade, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TecnicoEscolaridade, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.SuperiorEscolaridade, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.SuperiorEscolaridade, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SuperiorEscolaridade, "", new { @class = "text-danger" })
                            </div>*@

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-escolaridade" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headidiomas">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#idiomas" aria-expanded="false" aria-controls="idiomas">
                        @Resources.Idioma
                    </a>
                </h4>
            </div>
            <div id="idiomas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headidiomas">
                <div class="panel-body">
                    @foreach (var item in Model?.Idiomas)
                    {

                        <div class="form-group col-md-4">

                            @Html.CheckBox(item.Descricao, item.Selecionado)
                            @item.Descricao
                        </div>
                    }

                    <div class="form-group col-md-2 pull-right">
                        <input type="button" id="btn-idioma" value="@Resources.Salvar" class="btn btn-success btn-block" />
                    </div>
                </div>
            </div>
        </div>

        @*<div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headidiomas">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#idiomas" aria-expanded="false" aria-controls="idiomas">
                            @Resources.Idioma
                        </a>
                    </h4>
                </div>
                <form id="form-idioma">
                    <div id="idiomas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headidiomas">
                        <div class="panel-body">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.DescricaoIdioma, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.DescricaoIdioma, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DescricaoIdioma, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-2 pull-right">
                                <input type="button" id="btn-idioma" value="@Resources.Salvar" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>*@

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headcaracteristicas">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#caracteristicas" aria-expanded="false" aria-controls="caracteristicas">
                        @Resources.Caracteristicas
                    </a>
                </h4>
            </div>
            <form id="form-caracteristica">
                <div id="caracteristicas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headcaracteristicas">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CorOlhos, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("CorOlhosPerfiModelo", ViewBag.CorOlhos as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CorOlhosPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CorPele, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("CorPelePerfiModelo", ViewBag.CorPele as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CorPelePerfiModelo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CorCabeloPerfilModelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("CorCabeloPerfiModelo", ViewBag.CorCabelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CorCabeloPerfilModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.PesoPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.PesoPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.PesoPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AlturaPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.AlturaPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AlturaPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ManequimPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.ManequimPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.ManequimPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CinturaPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CinturaPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.CinturaPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.QuadrilPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.QuadrilPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.QuadrilPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.BustoPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.BustoPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.BustoPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CalcadoPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.CalcadoPerfiModelo, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.CalcadoPerfiModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.OutrosPerfiModelo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.OutrosPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OutrosPerfiModelo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label(Resources.TipoModelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("TipoModelo", ViewBag.TipoModelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoModelo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DescricaoTatuagem, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DescricaoTatuagem, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DescricaoTatuagem, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ParteCorpoTatuagem, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.ParteCorpoTatuagem, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ParteCorpoTatuagem, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CategoriaModelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownList("CategoriaModelo", ViewBag.CategoriaModelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaModelo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-caracteristicas" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <i class="fa fa-exclamation step" aria-hidden="true"></i>
            <div class="panel-heading" role="tab" id="headdadosComplementares">
                <h4 class="panel-title block-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosComplementares" aria-expanded="false" aria-controls="dadosComplementares">
                        @Resources.DadosComplementares
                    </a>
                </h4>
            </div>
            <form id="form-dadoscomplementares">
                <div id="dadosComplementares" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdadosComplementares">
                    <div class="panel-body">
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DisponibilidadeHorario)
                                @Html.LabelFor(model => model.DisponibilidadeHorario)
                                @Html.ValidationMessageFor(model => model.DisponibilidadeHorario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DisponibilidadeViagem)
                                @Html.LabelFor(model => model.DisponibilidadeViagem)
                                @Html.ValidationMessageFor(model => model.DisponibilidadeViagem, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.PossuiVeiculo)
                                @Html.LabelFor(model => model.PossuiVeiculo)
                                @Html.ValidationMessageFor(model => model.PossuiVeiculo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-dadoscomplementares" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade alertCPF" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> CPF Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> E-Mail Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertDataNascimento" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Data de Nascimento Inválida!</p>
            </div>
        </div>
    </div>
</div>
