﻿@model HzCasting.WebApp.Models.ModeloCompositeViewModelo
@{
    var count = 0;
}
@section styles {
    <style>
        img-responsive {
            width: 10%!important;
        }
    </style>
}
<div class="container-fluid">

    <div class="col-md-8">

        <div id="thumbCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner thumb-inner">

                @foreach (var item in Model.FotosExistentes)
                {
                    <div class="item @(count ==0 ? "active": "")">
                        <div class="slide1 slider-div">
                            <img src="@item.ImageURL" alt="Demo Image">
                        </div>
                    </div>
                    @(count = 1)
                }

                <!--/item-->
                @*<div class="item">
                        <div class="fade1 slider-div">
                            <img src="http://lorempixel.com/800/400/cats/2/" alt="Demo Image">
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="slide2 slider-div">
                            <img src="http://lorempixel.com/800/400/cats/3/" alt="Demo Image">
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="fade2 slider-div">
                            <img src="http://lorempixel.com/800/400/cats/4/" alt="Demo Image">
                        </div>
                    </div><!--/item-->*@
            </div><!--/carousel-inner-->

            <a class="right carousel-control" data-href="#thumbCarousel" data-target="#thumbCarousel" data-toggle="carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <a class="left carousel-control" data-href="#thumbCarousel" data-target="#thumbCarousel" data-toggle="carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <ul class="nav nav-carousel hidden-xs">
                @(count = 0)
                @foreach (var item in Model.FotosExistentes)
                {
                    <li data-target="#thumbCarousel" data-slide-to="@(count)" class="carousel-border @(count ==0 ? "active": "")">
                        <a data-href="#">
                            <img src="@item.ImageURL" style=" width: 10%">
                        </a>
                    </li>
                    @(count++)
                }
            </ul>

        </div><!--/myCarousel-->
    </div>
    <!--/main slider carousel-->

    <div class="clearfix hidden-lg hidden-md"></div>
    <div class="col-md-4">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Medidas/Size
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="dados-modelo">
                            <li><strong>@Html.DisplayNameFor(x => x.PrimeiroNomeDadosPessoais):</strong> @Model.PrimeiroNomeDadosPessoais</li>
                            <li><strong>@Html.DisplayNameFor(x => x.UltimoNomeDadosPessoais):</strong> @Model.UltimoNomeDadosPessoais</li>
                            <li><strong>Altura:</strong> @Model.AlturaPerfiModelo</li>
                            <li><strong>Manequim:</strong> @Model.ManequimPerfiModelo</li>
                            <li><strong>Sapatos:</strong> @Model.CalcadoPerfiModelo</li>
                            <li><strong>Cabelos:</strong> @Model.CorCabeloPerfilModelo</li>
                            <li><strong>Olhos:</strong> @Model.CorOlhosPerfiModeloTexto</li>
                        </ul>
                    </div>
                </div>
            </div>
            @*<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


@*   @if (Model.FotosExistentes?.Count > 0)
    {
        foreach (var item in Model.FotosExistentes)
        {
            <img src="@item.ImageURL" alt="Foto Modelo Composite" />
        }
    }
    else
    {
        <img src="@Url.Content("~/Images/ft_usuario_padrao.jpg")" alt="Foto Modelo Composite" />
    }
*@