﻿@model IEnumerable<HzCasting.WebApp.Models.ModelosSelecionadasViewModel>



<div class="container-content-block">
    <div class="table-responsive">


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>@Html.DisplayNameFor(x => x.NomeModelo)</th> 
                    @*<th>Detalhe</th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.ImagemSrc ?? @Url.Content("~/Images/ft_usuario_padrao.jpg")" alt="Foto Modelo" />
                        </td>
                        <td>@item.NomeModelo</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
