﻿@model HzCasting.WebApp.Models.Modelos.ModeloBaseViewModel

@{
    ViewBag.Title = Resources.CadastrarModelo;
}


@Html.Partial("~/Views/Modelo/_FormModelo.cshtml")

<input type="hidden" id="userId" />
<input type="hidden" id="modeloId" />

<div class="form-group col-md-2"> 
    <div class="text-danger">
        @Html.ValidationMessage("error")
    </div>
</div>

<div class="clearfix"></div>
@*<div class="col-md-12">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site/modelo/cadastrar.js"></script>
    <script src="~/Scripts/Site/modelo/modelo.js"></script>
}