﻿@model HzCasting.WebApp.Models.Modelos.ModeloPerfilMainViewModel

@*<h5 class="page-title">Os campos com <span class="text-danger">*</span> são obrigatórios.</h5>*@
<h5 class="page-title">
    @Resources.CamposObrigatorios
</h5>

@using (Html.BeginForm())
{

    @Html.HiddenFor(x=> x.ModeloId)
    <div class="form-content-block" id="formModelo">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headDadosPessoais">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosPessoais" aria-expanded="false" aria-controls="dadosPessoais">
                            @Resources.DadosPessoais
                        </a>
                    </h4>
                </div>
                @Html.HiddenFor(x => x.DadosPessoais.ModeloId)

                <div id="dadosPessoais" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headDadosPessoais">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DadosPessoais.PrimeiroNome, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DadosPessoais.PrimeiroNome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DadosPessoais.PrimeiroNome, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.DadosPessoais.UltimoNome, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DadosPessoais.UltimoNome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DadosPessoais.UltimoNome, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-6 col-md-3">
                            <div class="row">
                                <label for="DataNascimentoDadosPessoais" class="control-label col-xs-12 col-md-12">@Resources.DataNascimentoDadosPessoais</label>
                                <div class="col-xs-12 col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.DadosPessoais.DataNascimento, new { htmlAttributes = new { @class = "form-control data", placeholder = "99/99/9999" } })
                                        @Html.ValidationMessageFor(model => model.DadosPessoais.DataNascimento, "", new { @class = "text-danger" })
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.Label(Resources.EstadoCivilIdDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.DadosPessoais.EstadoCivilId, Model.DadosPessoais.EstadoCivil, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DadosPessoais.EstadoCivilId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label(Resources.SexoIdDadosPessoais, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.DadosPessoais.SexoId, Model.DadosPessoais.Sexo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DadosPessoais.SexoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headEndereco">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#endereco" aria-expanded="false" aria-controls="endereco">
                            @Resources.Endereco
                        </a>
                    </h4>
                </div>

                <div id="endereco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headEndereco">
                    <div class="panel-body">

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Cep, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Cep, new { htmlAttributes = new { @class = "form-control cep" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Cep, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Logradouro, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Logradouro, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Numero, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Numero, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Complemento, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Complemento, "", new { @class = "text-danger" })
                        </div>



                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group col-md-4">
                                @Html.LabelFor(model => model.GDEEndereco, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.GDEEndereco, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GDEEndereco, "", new { @class = "text-danger" })
                            </div>*@

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Cidade, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Cidade, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Endereco.Cep, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Endereco.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco.Estado, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group col-md-2 pull-right">
                        <input type="submit" id="btn-endereco" value="@Resources.Salvar" class="btn btn-success btn-block" />
                    </div>

                </div>

            </div>
            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headContato">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#contato" aria-expanded="false" aria-controls="contato">
                            @Resources.Contato
                        </a>
                    </h4>
                </div>

                <div id="contato" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headContato">
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Contato.Telefone, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Contato.Telefone, new { htmlAttributes = new { @class = "form-control telefone", placeholder = "(99) 9999-9999" } })
                            @Html.ValidationMessageFor(model => model.Contato.Telefone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Contato.Celular, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Contato.Celular, new { htmlAttributes = new { @class = "form-control celular", placeholder = "(99) 99999-9999" } })
                            @Html.ValidationMessageFor(model => model.Contato.Celular, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-contato" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headdocumentose">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#documentos" aria-expanded="false" aria-controls="documentos">
                            @Resources.Documentos
                        </a>
                    </h4>
                </div>

                <div id="documentos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdocumentose">
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Documentos.Rg, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Documentos.Rg, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Documentos.Rg, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Documentos.Cpf, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Documentos.Cpf, new { htmlAttributes = new { @class = "form-control cpf" } })
                            @Html.ValidationMessageFor(model => model.Documentos.Cpf, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Documentos.Pis, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Documentos.Pis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Documentos.Pis, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Documentos.Ctps, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Documentos.Ctps, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Documentos.Ctps, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Documentos.Passaporte, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Documentos.Passaporte, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Documentos.Passaporte, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-documento" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headdadosBancarios">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosBancarios" aria-expanded="false" aria-controls="dadosBancarios">
                            @Resources.DadosBancarios
                        </a>
                    </h4>
                </div>

                <div id="dadosBancarios" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdadosBancarios">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DadosBancarios.Banco, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DadosBancarios.Banco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DadosBancarios.Banco, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DadosBancarios.Agencia, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DadosBancarios.Agencia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DadosBancarios.Agencia, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DadosBancarios.ContaCorrente, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.DadosBancarios.ContaCorrente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DadosBancarios.ContaCorrente, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-dadosbancarios" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headescolaridade">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#escolaridade" aria-expanded="false" aria-controls="escolaridade">
                            @Resources.Escolaridade
                        </a>
                    </h4>
                </div>

                <div id="escolaridade" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headescolaridade">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.Label("Escolaridade", htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.EscolaridadeId, Model.EscolaridadeDrop, new { @class = "form-control" })                          
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-escolaridade" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headidiomas">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#idiomas" aria-expanded="false" aria-controls="idiomas">
                            @Resources.Idioma
                        </a>
                    </h4>
                </div>
                <div id="idiomas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headidiomas">
                    <div class="panel-body">
                        @foreach (var item in Model.Idiomas.Idiomas)
                        {

                            <div class="form-group col-md-4">

                                @Html.CheckBox(item.Item1.ToString(), item.Item3)
                                @item.Item2 @**Descrição*@

                            </div>
                        }

                        <div class="form-group col-md-2 pull-right">
                            <input type="button" id="btn-idioma" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headcaracteristicas">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#caracteristicas" aria-expanded="false" aria-controls="caracteristicas">
                            @Resources.Caracteristicas
                        </a>
                    </h4>
                </div>

                <div id="caracteristicas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headcaracteristicas">
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CorOlhos, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.Caracteristicas.CorOlhosId, Model.Caracteristicas.CorOlhos, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.CorOlhosId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CorPele, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.Caracteristicas.CorPeleId, Model.Caracteristicas.CorPele, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.CorPeleId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CorCabelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(model => model.Caracteristicas.CorCabeloId, Model.Caracteristicas.CorCabelo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.CorCabeloId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Peso, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Peso, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Peso, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Altura, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Altura, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Altura, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Manequim, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Manequim, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Manequim, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Cintura, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Cintura, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Cintura, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Quadril, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Quadril, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Quadril, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Busto, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Busto, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Busto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Calcado, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Calcado, new { htmlAttributes = new { @class = "form-control number" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Calcado, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Outros, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Outros, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Outros, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.Label(Resources.TipoModelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.Caracteristicas.TipoModeloId, Model.Caracteristicas.TipoModelo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.TipoModeloId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Tatuagem.Descricao, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Tatuagem.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Tatuagem.Descricao, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Caracteristicas.Tatuagem.LocalDoCorpo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Caracteristicas.Tatuagem.LocalDoCorpo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.Tatuagem.LocalDoCorpo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.Label(Resources.CategoriaModelo, htmlAttributes: new { @class = "" })
                            @Html.DropDownListFor(x => x.Caracteristicas.CategoriaModeloId, Model.Caracteristicas.CategoriaModelo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Caracteristicas.CategoriaModeloId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-caracteristicas" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <i class="fa fa-exclamation step" aria-hidden="true"></i>
                <div class="panel-heading" role="tab" id="headdadosComplementares">
                    <h4 class="panel-title block-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#dadosComplementares" aria-expanded="false" aria-controls="dadosComplementares">
                            @Resources.DadosComplementares
                        </a>
                    </h4>
                </div>

                <div id="dadosComplementares" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headdadosComplementares">
                    <div class="panel-body">
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DadosPessoais.DisponibilidadeHorario)
                                @Html.LabelFor(model => model.DadosPessoais.DisponibilidadeHorario)
                                @Html.ValidationMessageFor(model => model.DadosPessoais.DisponibilidadeHorario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DadosPessoais.DisponibilidadeViagem)
                                @Html.LabelFor(model => model.DadosPessoais.DisponibilidadeViagem)
                                @Html.ValidationMessageFor(model => model.DadosPessoais.DisponibilidadeViagem, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DadosPessoais.PossuiVeiculo)
                                @Html.LabelFor(model => model.DadosPessoais.PossuiVeiculo)
                                @Html.ValidationMessageFor(model => model.DadosPessoais.PossuiVeiculo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-2 pull-right">
                            <input type="submit" id="btn-dadoscomplementares" value="@Resources.Salvar" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}


@section scripts{
    <script src="~/Scripts/Site/modelo/criar-perfil-modelo.js"></script>
}