﻿@model HzCasting.WebApp.Models.Modelos.ModeloBaseViewModel
@{
    ViewBag.Title = Resources.EditarModelo;
}

<style>
    .editar {
        padding: 6px 41px 4px 34px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ModeloId, new { @id = "modeloId" })
    @Html.HiddenFor(model => model.UsuarioId, new { @id = "userId" })

    @Html.Partial("~/Views/Modelo/_FormModelo.cshtml")
    <br />

    <div class="form-group">
        <div class="">
            <input type="submit" value="@Resources.Editar" class="btn btn-default editar" />
            <div class="text-danger">
                @Html.ValidationMessage("error")
            </div>
        </div>
    </div>

}

@section scripts {
    <script src="~/Scripts/Site/fotosModelo/fotosModelo.js"></script>
    <script src="~/Scripts/Site/modelo/cadastrar.js"></script>
    <script src="~/Scripts/Site/modelo/modelo.js"></script>
}