﻿@model HzCasting.WebApp.Models.ModeloEditarPereciveisViewModel

@{
    ViewBag.Title = "EditarDadosPereciveis";
}

<h2>EditarDadosPereciveis</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { modeloId = Model.ModeloId }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Editar dados Pereciveis</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
        
        <div class="form-group">
            @Html.Label("Cor dos Olhos", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("CorOlhosPerfiModelo", ViewBag.CorOlhos as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CorOlhosPerfiModelo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Cor da Pele", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("CorPelePerfiModelo", ViewBag.CorPele as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CorPelePerfiModelo, "", new { @class = "text-danger" })
        </div>

         

        <div class="form-group">
            @Html.LabelFor(model => model.CorCabeloPerfilModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("CorCabeloPerfiModelo", ViewBag.CorCabelo as IEnumerable<SelectListItem>, new { @class = "form-control" })
              
                @Html.ValidationMessageFor(model => model.CorCabeloPerfilModelo, "", new { @class = "text-danger" })
            
        </div>
         

        <div class="form-group">
            @Html.LabelFor(model => model.PesoPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PesoPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PesoPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlturaPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlturaPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlturaPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManequimPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManequimPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManequimPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CinturaPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CinturaPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CinturaPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuadrilPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuadrilPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuadrilPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BustoPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BustoPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BustoPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CalcadoPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CalcadoPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CalcadoPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutrosPerfiModelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutrosPerfiModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OutrosPerfiModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Atualizar" class="btn btn-default" />
                <div class="text-danger">
                    @Html.ValidationMessage("error")

                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
