﻿@model HzCasting.WebApp.Models.ImportacaoFotosViewModel
@{
    ViewBag.Title = "Galeria";
    var usuarioId = Model.UsuarioId;
    var backOffice = Model.BackOffice;
}
@section styles {
    <style>
        img.img-thumbnail {
            width: 15%;
        }
    </style>
}
<input type="hidden" id="usuarioId" value="@usuarioId" />
<a href="/Modelo/ListarFotos" class="btn  btn-primary  pull-right">Ver fotos selecionadas</a>
@Html.ActionLink("Voltar á edição do perfil", "Editar", "Modelo", new { id = usuarioId }, new { @class = "btn btn-primary" })


<div class="container" id="loading" style="display:none;">
    <button class="btn btn-lg btn-warning">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Carregando...
    </button>
</div>
<br />
<br />
<br />
@if (!backOffice)
{

    @Html.ValidationMessage("", new { @class = "text-danger" })
    <div class="row">


        <input type="file" id="arquivo-file" value="" />
        <br />
        <button class="btn btn-success" id="btnSalvar">@Resources.GravarImagensSelecionadas</button>
        <output id="saida-gravar-imagem"></output>
    </div>
} 
    <div id="content">

    </div>
    <div id="page-selection" style="display:none;"></div>

    @section scripts {
        <script src="~/Scripts/Site/fotosModelo/fotosModelo.js"></script>
        <script src="~/Scripts/jquery.bootpag.min.js"></script>
        <script src="~/Scripts/Site/importarFotosModelo/importarFotosModelo.js"></script>
    }