﻿@*@model IEnumerable<HzCasting.WebApp.Models.FacebookViewModel>

@{
    ViewBag.Title = "Index";
}
@section styles {
    <style>
        img.img-thumbnail {
            width: 15%;
        }
    </style>

}
@section scripts {


    <script src="~/Scripts/Site/fotosModelo/fotosModelo.js"></script>
}
<div class="row">
    <input type="file" id="arquivo-file" value="" />
    <button class="btn btn-success" id="btnSalvar">@Resources.GravarImagensSelecionadas</button>
    <output id="saida-gravar-imagem"></output>
</div>
<div class="row">


    @foreach (var item in Model)
    {

        <text>
            <img src="@item.ImageURL" class="img-thumbnail" name="img-selection" />
        </text>
    }
</div>*@
