﻿@model IEnumerable<HzCasting.WebApp.Models.Modelos.ModeloBaseViewModel>

@{
    ViewBag.Title = Resources.ListarModelo;
}

<h5 class="page-title">
    @*Veja a baixo a lista de modelos cadastrados no sistema.<br />Aqui você pode cadastrar novos modelos, editá-los e excluí-los quando necessário.*@
    @Resources.ListarModelosCadastrados
    <a class="btn btn-primary pull-right" href="Cadastrar">@Resources.Cadastrar</a>
</h5>

<div class="form-content-block">
    <form action="/Modelo/Listar">
        <div class="row">

            <div class="form-group col-xs-12 col-md-3">
                <label>@Resources.Nome</label>
                <input type="text" name="nome" class="form-control" />
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>@Resources.RgDocumento</label>
                <input type="text" name="rg" class="form-control" />
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <label>CPF</label>
                <input type="text" name="cpf" class="form-control cpf" />
            </div>

            <div class="form-group col-xs-6 col-md-2">
                <div class="row">
                    <label for="DataNascimento" class="control-label col-xs-12 col-md-12">@Resources.DataNascimentoDadosPessoais</label>
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group">
                            <input type="text" id="DataNascimento" name="DataNascimento" class="form-control dataNascimento data" , placeholder="99/99/9999" />
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-5">
                <div class="row">
                    <label class="col-xs-12 col-md-12"> </label>
                    <div class="col-xs-6 col-md-3">
                        <button class="btn btn-dark btn-block" type="submit">@Resources.Filtrar</button>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <button class="btn btn-white btn-block">@Resources.Limpar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-content-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimeiroNomeDadosPessoais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UltimoNomeDadosPessoais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimentoDadosPessoais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RgDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PisDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CateiraProfissionalDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>

                <th>
                    @Html.DisplayName(@Resources.Acoes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrimeiroNomeDadosPessoais)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UltimoNomeDadosPessoais)
                    </td>
                    <td>
                        @item.DataNascimentoDadosPessoais.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RgDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PisDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateiraProfissionalDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td class="actions">
                        <a href="@Url.Action("Editar", "Modelo", new { id = item.ModeloId })"><i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i></a>
                        <a href="@Url.Action("Deletar", "Modelo", new { id = item.ModeloId })"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>