﻿@{
    ViewBag.Title = "Listar Fotos";
    var usuarioId = ViewBag.UsuarioId;
    var IsBackOffice = ViewBag.IsBackOffice ?? false;
}
@section styles {
    <style>
        img.img-thumbnail {
            width: 15%;
        }
        .hide {
            display:none;
        }
    </style>

}
<input type="hidden" id="usuarioId" value="@usuarioId" />
@if (IsBackOffice)
{
    <input type="hidden" id="modelo" value="@(IsBackOffice)" />

}

@if (!IsBackOffice)
{
    <a href="/Modelo/ImportarFotosModelo" class="btn  btn-primary  pull-right">Importar Mais fotos</a>
    @Html.ActionLink("Voltar á edição do perfil", "Editar", "Modelo", new { id = usuarioId }, new { @class = "btn btn-primary" })
}
<div class="container hide" id="loading">
    <button class="btn btn-lg btn-warning">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Carregando...
    </button>
</div>
<br />
<br />

<h4 class="hide" id="quantidadeItens">Quantidade de fotos pendentes: <span id="quantidadePendentes"></span></h4>
<div id="content">
</div>
<div id="page-selection"></div>

@section scripts {
    <script src="~/Scripts/jquery.bootpag.min.js"></script>
    <script src="~/Scripts/Site/listarFotosModelo/listarFotosModelo.js"></script>
}