﻿@model HzCasting.WebApp.Models.Modelos.ModeloBaseViewModel

@{
    ViewBag.Title = Resources.PerfilModelo;
    //Layout = "~/Views/Shared/_LayoutModelo.cshtml";
}

@*NÃO TERÁ MAIS ESSA TELA*@

@*
    <div>
        <h4>@Resources.ListarModelo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConfirmPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cpf)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModeloId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModeloId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimeiroNomeDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimeiroNomeDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UltimoNomeDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UltimoNomeDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimentoDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataNascimentoDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstadoCivilIdDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoCivilIdDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SexoIdDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SexoIdDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelefoneDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelefoneDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CelularDadosPessoais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CelularDadosPessoais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RgDocumento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RgDocumento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PisDocumento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PisDocumento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CateiraProfissionalDocumento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CateiraProfissionalDocumento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Passaporte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passaporte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdBanco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdBanco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NomeBanco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeBanco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgenciaBanco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgenciaBanco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContaBanco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContaBanco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoContaBanco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoContaBanco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FormacaoEscolaridade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FormacaoEscolaridade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TecnicoEscolaridade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TecnicoEscolaridade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SuperiorEscolaridade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SuperiorEscolaridade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdIdioma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdIdioma)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescricaoIdioma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescricaoIdioma)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdPerfilModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdPerfilModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorPelePerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorPelePerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorOlhosPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorOlhosPerfiModelo)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.CorCabeloPerfilModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorCabeloPerfilModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PesoPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PesoPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlturaPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlturaPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManequimPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManequimPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CinturaPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CinturaPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuadrilPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuadrilPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BustoPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BustoPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CalcadoPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CalcadoPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OutrosPerfiModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OutrosPerfiModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdTatuagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdTatuagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescricaoTatuagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescricaoTatuagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParteCorpoTatuagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParteCorpoTatuagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisponibilidadeHorario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisponibilidadeHorario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisponibilidadeViagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisponibilidadeViagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PossuiVeiculo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PossuiVeiculo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoriaModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoriaModelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ComplementoEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComplementoEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CepEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CepEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LogradouroEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LogradouroEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BairroEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BairroEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZonaEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZonaEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GDEEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GDEEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CidadeEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CidadeEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstadoEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UfEndereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UfEndereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataAprovacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataAprovacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusModelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusModelo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.UsuarioId }, new { @class = "btn btn-primary"})
    </p>*@
