﻿@using HzCasting.WebApp.Models.Modelos;

@model ModeloRegistrarViewModel
@{
    ViewBag.Title = Resources.RegistrarModelo;
    Layout = "~/Views/Shared/_LayoutBasico.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.FacebookToken)
    @Html.HiddenFor(x => x.FacebookEmail)

    <div>
        <h4>
            @Resources.Usuario
        </h4>
    </div>
    <div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Cpf, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf" })
            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Senha, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-5">
            @Html.LabelFor(m => m.Nome, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-5">
            @Html.LabelFor(m => m.Sobrenome, new { @class = "" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.DataNascimento, new { @class = "" })
            <span class="text-danger">*</span>
            <div class="col-xs-12 col-md-12">
                <div class="input-group">
                    <input type="text" name="DataNascimento" id="DataNascimento" class="form-control dataNascimento data" placeholder = "99/99/9999" required="required"/>
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    @*@Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control dataNascimento data", placeholder = "99/99/9999" })
                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("EstadoCivil", htmlAttributes: new { @class = "" })
            @Html.DropDownList("EstadoCivilId", Model.EstadoCivil, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Sexo", htmlAttributes: new { @class = "" })
            @Html.DropDownList("SexoId", Model.Sexo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2 pull-right">
            <input type="submit" value="@Resources.Cadastrar" class="btn btn-success btn-block salvarModelo" />
        </div>
    </div>
}

<div class="modal fade alertCPF" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> CPF Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> E-Mail Inválido!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade alertDataNascimento" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="text-danger text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Data de Nascimento Inválida!</p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Site/modelo/modelo.js"></script>
}
