﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-4">
        <a href="/Modelo/ListarFotos?idModelo=33" class="btn btn-success">Teste Galeria Modelo (BackOffice)</a>
    </div>
    <div class="col-md-4">
        <a href="/Modelo/ListarFotos" class="btn btn-success">Teste Galeria Modelo</a>
    </div>
    <div class="col-md-4">
        <a href="/Modelo/ImportarFotosModelo" class="btn btn-success">Teste Importação de fotos Modelo</a>
    </div>
</div>
